header,
body {
    background-color: #f5f5f5;
}

.filter-hero .g-hero-area .bottom-search {
    height: unset;
    padding: 40px 32px;
}

.g-hero-area .bottom-search {
    height: unset;
    width: 80%;
    left: 10%;
}

.g-hero-banner-img img {
    height: 280px;
}

.g-hero-area {
    width: 100%;
    height: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.search-group.active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding-left: 0px;
    padding-right: 0px;
}




/*
  ============  Filter Header   ============
*/
.filter-sec .filter-head {
    padding: 30px 0;
}

.filter-head .click-dropdown {
    animation: unset;
}

.filter-header .click-dropdown-btn {
    padding: 6px 16px;
    border-radius: var(--radius-pill);
    font-size: var(--fs-lg);
    font-weight: 400 !important;
    border: 1px solid var(--my-border-color);
    line-height: var(--line-height-md);
}

.filter-sec .filter-head .filter-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    font-size: var(--fs-lg);
    line-height: var(--line-height-md);
    border: 1px solid var(--my-border-color);
    border-radius: var(--radius-pill);
}

.filter-sec .filter-head .filter-btn:hover {
    background-color: var(--my-primary-color);
    color: var(--my-border-color);
}



/*
  ============  Filter Sidebar   ============
*/
.sidebar-and-items {
    display: flex;
    align-items: stretch;
    gap: 40px;
}

.filter-sidebar {
    width: 260px;
    background-color: gainsboro;
}




.filter-body-items {
    flex: 1;
}

.cart {
    width: 100%;
    height: 222px;
    background-color: rebeccapurple;
}

.hotel-cart.tour-filter-cart .cart-content {
    padding: 14px;
}

.hotel-cart.tour-filter-cart {
    padding: 6px;
}

.hotel-cart.tour-filter-cart .cart-tag-left {
    left: 14px;
    top: 14px;
    line-height: var(--line-height-sm);
}

.hotel-cart.tour-filter-cart .cart-btn {
    background-color: var(--my-secondary-color);
}