header,
body {
    background-color: #f5f5f5;
}

/*
========================================
=====||   Filter Hero Section    ||=====
========================================
*/
.filter-sec-wrap {
    padding-bottom: 60px;
}

.filter-hero .g-hero-area .bottom-search {
    height: unset;
    padding: 40px 32px;
}

.g-hero-area .bottom-search {
    height: unset;
    width: 80%;
    left: 10%;
}

.g-hero-banner-img img {
    height: 280px;
}

.g-hero-area {
    width: 100%;
    height: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.search-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding-left: 0px;
    padding-right: 0px;
}



.filter-sec.active .filter-body-items {
    grid-template-columns: repeat(3, 1fr);
}



/*
  ============  Filter Header   ============
*/
.filter-sec .filter-head {
    padding: 30px 0;
}

.filter-head .click-dropdown {
    animation: unset;
    border-radius: var(--radius-sm);
    padding: 4px;
}

.click-dropdown .item {
    padding: 6px 12px;
}

.filter-header .click-dropdown-btn {
    padding: 5px 16px;
    border-radius: var(--radius-pill);
    font-size: var(--fs-lg);
    font-weight: 400 !important;
    border: 1px solid var(--my-border-color);
    line-height: var(--line-height-md);
    user-select: none;
    text-wrap: nowrap;
}

.filter-sec .filter-head .filter-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    font-size: var(--fs-lg);
    line-height: var(--line-height-md);
    border: 1px solid var(--my-border-color);
    border-radius: var(--radius-pill);
    user-select: none;
}

.filter-sec .filter-head .filter-btn:hover {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
}

.filter-sec .filter-head .filter-btn:hover svg path {
    stroke: var(--my-white);
}

.filter-sidebar .filter-item:last-child {
    border-bottom: none;
}

/*
  ============  Filter Sidebar   ============
*/
.sidebar-and-items {
    display: flex;
    align-items: stretch;
    gap: 40px;
}

.filter-sidebar {
    width: 260px;
    background-color: var(--my-white);
    border-radius: 20px;
    /* border: 1px solid var(--my-border-color); */
    padding: 0px 16px;
    box-shadow: var(--n-shadow-2);
    display: none;
}

.filter-sidebar.active {
    display: block;
}

.filter-sidebar .filter-item {
    padding: 32px 0;
    border-bottom: 1px solid var(--my-border-color);
    overflow-x: hidden;
}

.filter-item .item-content {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .4s ease;
    padding-left: 2px;
}

/* when active/open */
.filter-item.active .item-content {
    max-height: 600px;
    width: 100%;
    padding-left: 2px;
    /* adjust your content height */
}

.filter-item .filter-item-btn svg {
    transition: transform .3s ease;
    transform: rotate(270deg);
}

/* Open = rotate arrow 180deg */
.filter-item.active .filter-item-btn svg {
    transform: rotate(360deg);
}


.filter-sidebar .filter-item .filter-item-btn {
    cursor: pointer;
    user-select: none;
}

.filter-sidebar .filter-item .filter-item-btn:hover svg path {
    stroke: var(--my-secondary-color);
}

/* item wrap */
.filter-sidebar .items-wrap {
    margin-top: 20px;
}

.filter-sidebar .items-wrap .item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.filter-sidebar .items-wrap .item label,
.filter-sidebar .items-wrap .item input {
    transition: .2s ease;
}

.filter-sidebar .items-wrap .item label {
    flex: 1;
}

.filter-sidebar .items-wrap .item:hover input {
    border-color: var(--my-secondary-color);
}


/*===== Price Slider Styles =====*/
#price-slider .noUi-connect {
    background: var(--my-secondary-color) !important;
    height: 8px !important;
    border-radius: 14px !important;
    /* orange bar */
}

#price-slider .noUi-handle {
    height: 24px !important;
    width: 24px !important;
    border-radius: 50%;
    background: #fff !important;
    border: 1px solid var(--m-border-secondary) !important;
    top: -8px !important;
    cursor: grab;
    z-index: 9 !important;
}

/* Remove extra vertical bars on handle */
#price-slider .noUi-handle:before,
#price-slider .noUi-handle:after {
    display: none;
}

.noUi-target {
    background: var(--my-border-color);
    border-radius: 14px;
    border: 1px solid var(--m-border-secondary);
    box-shadow: unset;
    height: 8px;
    max-width: 100%;
    overflow: visible !important;
}


.filter-sidebar input[type="checkbox"] {
    width: 17px;
    height: 17px;
    padding: 7px;
}

.filter-sidebar input[type="checkbox"]:checked {
    background-color: var(--my-secondary-color);
    border-color: var(--my-secondary-color);
    width: 16px;
    height: 16px;
    padding: 7px;
}

.filter-sidebar input[type="checkbox"]::after {
    content: '✔';
    color: var(--my-white);
    font-size: 12px;
}

.filter-sidebar input[type="checkbox"]:checked::after {
    content: '✔';
    color: var(--my-white);
    font-size: 12px;
}

.filter-sidebar .items-wrap .item label {
    font-size: var(--fs-md);
    color: var(--my-text-secondary);
}

.filter-sidebar .filter-item .btn svg path {
    transition: .2s ease;
}

.filter-sidebar .filter-item .btn:hover svg path {
    stroke: var(--my-secondary-color);
}

/* show more */
.filter-sidebar .show-more-btn {
    font-weight: 600;
    color: var(--my-text-primary);
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
    border-bottom: 1px solid var(--my-text-primary);
    margin-top: 16px;
    transition: .2s ease;
}

.filter-sidebar .show-more-btn:hover {
    color: var(--my-secondary-color);
    border-color: var(--my-secondary-color);
}

.filter-sidebar .p-inputs label {
    font-weight: 600;
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
    display: block;
}

.filter-sidebar .p-inputs input {
    margin-top: 8px;
    border-color: var(--my-border-color);
    border-radius: var(--radius-sm);
}



/*
================  Filter Body  =================
*/
.filter-body-items {
    flex: 1;
}


/* Cart */
.cart {
    width: 100%;
    height: 222px;
    background-color: rebeccapurple;
}

.hotel-cart.tour-filter-cart .cart-content {
    padding: 14px;
}

.hotel-cart.tour-filter-cart {
    padding: 6px;
    box-shadow: unset;
}

.hotel-cart.tour-filter-cart .cart-tag-left {
    left: 14px;
    top: 14px;
    line-height: var(--line-height-sm);
}

.hotel-cart.tour-filter-cart .cart-btn {
    background-color: var(--my-secondary-color);
}