body {
    background-color: var(--my-bg-secondary);
}

header {
    background-color: var(--my-bg-secondary);
}

.section-title {
    font-size: var(--fs-3xl);
}


/* sec-sub-title */
.sec-sub-title {
    font-size: var(--fs-3xl);
    font-weight: 600;
    color: var(--my-text-primary);
}

.adventure-sec .head {
    background-color: #FEFAF2;
    padding: 24px 29px;
    box-shadow: var(--n-shadow-2);
    border-radius: var(--radius-lg);
    cursor: pointer;
}

.adventure-sec .head .section-title {
    font-size: var(--fs-xxl);
}

.adventure-sec .head .radio {
    width: 22px;
    height: 22px;
    border-radius: var(--radius-round);
    padding: 4px;
    border: 4px solid var(--my-white);
    padding: 4px;
    outline: 4px solid var(--my-secondary-color);
    background-color: var(--my-secondary-color);
}

.adventure-sec .adventure-area {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 25%);
    gap: 32px;
    margin-top: 60px;
}

.adventure-sec .adventure-left {
    padding: 32px;
    border-radius: var(--radius-xl);
    border: 1px solid var(--my-border-primary);
    background-color: var(--my-white);
}

.adventure-sec .adventure-right {
    border-radius: var(--radius-xl);
}







/* ================ Adventure Sec Body ================ */
.adventure-sec .body {
    border: 1px solid var(--my-border-secondary);
}



/* ================ Body Item Here ================ */
.adventure-sec .body .item {
    padding: 12px 16px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--my-border-secondary);
}

.adventure-sec .body .item .item-head {
    line-height: 100%;
}

.adventure-sec .body .item .item-value {
    line-height: 100%;
}


/* ================ Aadventure Right Change Date and How many ================ */
.adventure-sec .change-date,
.adventure-sec .how-many {
    border-radius: var(--radius-lg);
    padding: 10px;
    border: 1px solid var(--my-border-primary);
    width: 100%;
    background-color: var(--my-white);
}

.adventure-sec .change-date .inner,
.adventure-sec .how-many .inner {
    border-radius: var(--radius-md);
    border: 1px solid var(--my-border-secondary);
    width: 100%;
}

.adventure-sec .adventure-right .date-adults-btn {
    padding: 12px 12px;
    border-radius: var(--radius-sm);
    font-size: var(--fs-sm);
    border: 1px solid var(--my-border-secondary);
    width: 70%;
}

.border-top-bottom {
    border-top: 1px solid var(--my-border-secondary);
    border-bottom: 1px solid var(--my-border-secondary);
}

.border-bottom {
    border-bottom: 1px solid var(--my-border-secondary);
}

.adventure-sec .adventure-right .qty-btns input {
    font-size: var(--fs-sm);
}







/*================================||  Cart and Items Details Section Start Here  ||=================================*/
.items-cart-sec-wrap {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 25%);
    gap: 32px;
    align-items: start;
}

/* Sticky cart */
.cart-summery {
    position: sticky;
    top: 100px;
}

.items-details-top {
    height: 2222px;
}





/*================================||  Items Details TOp  ||=================================*/
.items-details-top {
    border-radius: var(--radius-xl);
    border: 1px solid var(--my-border-primary);
    padding: 32px;
    box-shadow: var(--n-shadow-1);
}

.items-details-top .items-details-top-inner {
    border-radius: var(--radius-xl);
    border: 1px solid var(--my-border-secondary);
    padding: 24px;
}

.items-details-top-inner .my-btn-pill {
    padding: 10px 24px;
}





/*================================||  Cart Summery  ||=================================*/
.cart-summery {
    background-color: var(--my-white);
    border-radius: var(--radius-xl);
    padding: 24px 10px;
    border: 1px solid var(--my-border-primary);
    padding-bottom: 8px;
    /* box-shadow: var(--n-shadow-1); */
}

.cart-summery .cart-inner {
    background-color: #FC5A311A;
    margin-top: 20px;
    border: 1px solid #00000013;
    border-radius: var(--radius-lg);
    padding: 20px 10px;
}

.cart-summery .title {
    font-size: var(--fs-md);
    color: var(--my-text-primary);
    font-weight: 600;
    line-height: 1.34;
}

.cart-summery .title-sm,
.cart-summery .title-md {
    font-size: var(--fs-sm);
    color: var(--my-text-primary);
    font-weight: 600;
    line-height: 1.4;
}

.cart-summery .title-md {
    font-size: var(--fs-md);
}



.cart-summery .price-value {
    font-size: var(--fs-md);
    font-weight: 700;
    color: var(--my-secondary-color);
}

.cart-summery .price-value-sm {
    color: var(--my-secondary-color);
    font-weight: 600;
    font-size: var(--fs-sm);
}

.cart-summery .qty {
    font-size: var(--fs-xs);
    color: var(--my-text-primary);
    line-height: 1.3;
}

.cart-summery .cart-border-top {
    border-top: 1px solid #FC5A3133;
}

.cart-summery .total-text {
    font-size: var(--fs-sm);
    font-weight: 700;
    color: var(--my-secondary-color);
}

.cart-summery .pricing {
    font-size: 10px;
    color: var(--my-text-quaternary);
    line-height: 1.2;
    display: inline-block;
    font-weight: 400;
}


.cart-summery .agree input[type="checkbox"] {
    transform: scale(.75);
    cursor: pointer;
    border: 1px solid var(--my-secondary-color);
}


.cart-summery .total {
    padding: 10px 0;
    margin-top: 12px;
}

.cart-summery .total .text {
    font-size: var(--fs-lg);
    color: var(--my-secondary-color);
}


.cart-summery .pay-btn {
    padding: 16px 24px;
}






/* Flight Progress */
.flight-progress {
    width: 100%;
    width: 300px;
    max-width: 320px;
    position: relative;
}

.flight-progress .progress-line {
    flex: 1;
    height: 4px;
    background-color: #D9D9D9;
    position: relative;
    border-radius: 8px;
    margin-top: 12px;
}

.flight-progress .progress-line::after {
    content: '';
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 2;
    top: -3px;

}

.flight-progress .progress-line .dot {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 2;
    top: -8px;
    transform: translateX(-50%);
}