.section-main {
    padding-bottom: 0;
}


.p-sub-container .section-title {
    font-size: var(--fs-3xl);
}

.tour-type {
    border-radius: var(--radius-xxl);
    padding: 11px 12px;
    background-color: var(--my-secondary-color);
    position: relative;
    width: fit-content;
}

.tour-type .icon {
    position: absolute;
    right: 0;
    bottom: -33px;
}

.tour-type.event {
    background-color: var(--my-primary-color);
}

.category-wrap .cart-category {
    font-size: var(--fs-sm);
    padding: 5px 16px;
    line-height: var(--line-height-lg);
    border-radius: var(--radius-md);
}

.cart-category.rail-tour {
    background-color: var(--my-secondary-color);
}


/*
=============================================
=====||   Product Hero Start Here     ||=====
=============================================
*/
.product-hero-wrap .compare-and-other .btn {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    border: 1px solid var(--my-primary-color);
    background-color: var(--my-primary-color);
    transition: .2s ease;
}

.product-hero-wrap .compare-and-other .compare {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    padding: 8px 16px;
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
}

.product-hero-wrap .compare-and-other .btn.outline {
    background-color: transparent;
}

.product-hero-wrap .compare-and-other .btn:hover {
    background-color: var(--my-secondary-color);
    border-color: transparent;
}

.product-hero-wrap .compare-and-other .btn.outline:hover {
    border-color: var(--my-border-primary);
    background-color: transparent;
}


/**************
 bottom-side
 *************/
.product-hero-wrap .bottom-side {
    display: flex;
    gap: 20px;
    width: 100%;
}

/* Left side - 64% */
.product-hero-wrap .bottom-side .left {
    width: 64%;
}

/* Right side - 36% */
.product-hero-wrap .bottom-side .right {
    width: 36%;
}

.product-hero-wrap .bottom-side .banner-item {
    height: 224px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-xxl);
    transition: .4s ease;
    background-color: red;
}

.product-hero-wrap .bottom-side .banner-item .view-all {
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 8px 16px;
    font-size: var(--fs-xs);
    color: var(--my-white);
    z-index: 4;
    backdrop-filter: blur(14px);
    font-weight: var(--fw-600);
    background-color: #FFFFFF40;
}

.product-hero-wrap .bottom-side .banner-item::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    background-color: rgba(163, 31, 163, 0.193);
    transform: translateY(300px);
}

.product-hero-wrap .bottom-side .banner-item:hover::after {
    height: 100%;
    transform: translateY(-300px);
}

.product-hero-wrap .bottom-side .banner-img {
    border-radius: var(--radius-xxl);
    height: 100%;
}

/* review */
.product-hero-wrap .bottom-side .review {
    padding: 16px;
    background-color: #DBF7FF;
    height: 224px;
    width: 100%;
}

.product-hero-wrap .bottom-side .review .right {
    flex: 1;
}

.product-hero-wrap .bottom-side .review .desc {
    line-height: var(--line-height-md);
    font-size: var(--fs-lg);
    color: var(--my-text-primary);
    font-weight: 400;
}

.product-hero-wrap .bottom-side .review .profile-img-xl {
    border: 3px solid var(--my-white);
    padding: 1px;
    width: 60px;
    height: 60px;
}

.rating i {
    color: var(--my-rating);
}

/* tour-info */
.product-hero-wrap .tour-info .item {
    background-color: #f5f5f5;
}













/*
====================================================
=====||   Product Information Start Here     ||=====
====================================================
*/
.package-information .section-title {
    font-size: var(--fs-3xl);
}



/* highlights-items */
.package-information .highlights-items .icon {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-round);
    border: 1px solid var(--my-secondary-color);
    background-color: #FFE0D9;
}

.package-information .highlights-items .icon img {
    width: 16px;
}


/*==============||  event packge main layout  ||===============*/
.event-package-main {
    display: flex;
    gap: 2.66667%;
}

.event-package-content {
    width: 70.58333%;
}

/*==============||  Price and Event Price Card Sticky  ||===============*/
.packevent-package-main .price-card,
.event-package-main .event-price-card {
    width: 26.75%;
    min-width: 320px;
    flex: 1;
    display: flex;
}

.event-package-main .price-card-wrap {
    background-color: var(--my-white);
    padding: 26px 20px;
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: var(--radius-xxl);
    box-shadow: var(--n-shadow-2);
    margin-top: 60px;
    position: sticky;
    top: 20px;
}

.price-card .top-btn,
.day-by-day .top-btn {
    font-size: var(--fs-md);
    font-weight: 600;
    width: 100%;
    border-radius: var(--radius-sm);
    background-color: var(--my-primary-color);
    color: var(--my-white);
}

.price-card .top-btn:hover,
.day-by-day .top-btn:hover {
    background-color: var(--my-secondary-color);
}

.day-by-day .top-btn.active,
.price-card .top-btn.active {
    background-color: var(--my-secondary-color);
}

.day-by-day .top-btn {
    width: unset;
}

.day-by-day .top-btn:hover,
.package-information .price-card .top-btn:hover {
    background-color: var(--my-secondary-color);
}

.day-by-day .my-secondary-btn.top-btn:hover,
.package-information .price-card .my-secondary-btn.top-btn:hover {
    background-color: var(--my-primary-color);
}

.package-information .price-card .price-text {
    font-size: var(--fs-xxl);
    color: var(--my-text-primary)
}

.package-information .price-card .person {
    color: #A4A7AE;
    font-size: var(--fs-md);
    font-weight: var(--fw-400);
}

.package-information .price-card .date-guest button {
    padding: 6px;
    border-radius: var(--radius-sm);
    font-size: var(--fs-md);
    font-weight: var(--fw-500);
    border: 1px solid var(--my-border-secondary);
}

.package-information .price-card .check-and-make .my-btn {
    line-height: var(--line-height-md);
    padding: 12px;
    border-radius: var(--radius-xl);
}

.package-information .price-card .check-and-make .make.my-btn {
    color: var(--my-secondary-color);
}









/*
================================================
=====||   Package Summary Start Here     ||=====
================================================
*/
.packageSummerySlider .item,
.package-summery-items-mobile .item {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-xl);
}



.packageSummerySlider .item::after,
.package-summery-items-mobile .item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}

.packageSummerySlider .item img,
.package-summery-items-mobile .item img {
    position: absolute;
    inset: 0;
    height: 100%;
}

.packageSummerySlider .item .item-content,
.package-summery-items-mobile .item .item-content {
    z-index: 2;
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 100%;
}



.packageSummerySlider .item .item-content .name,
.package-summery-items-mobile .item .item-content .name {
    color: var(--my-white);
    font-size: var(--fs-xl);
    transition: .3s ease;
}

.packageSummerySlider .item:hover .name {
    transform: translateY(-12px);
}







/*
=====================================================
=====||   Day By Day Itinerary Start Here     ||=====
=====================================================
*/
.card {
    background-color: #F3F7FA;
    border-radius: var(--radius-sm);
    border: 0.25px solid;
    border-image-source: linear-gradient(86.4deg, rgba(0, 0, 0, 0.2) 0%, rgba(102, 102, 102, 0.2) 99.43%);
    border: 1px solid #66666635;
    width: fit-content;
    align-items: stretch;
    padding: 16px;
}

.card .title {
    font-size: var(--fs-lg);
    color: var(--my-text-primary);
    font-weight: var(--fw-600);
    line-height: 100%;
}

.card .card-img {
    display: flex;
    border-radius: 8px;
    /* margin: 8px; */
    max-width: 300px;
    max-height: 300px;
    height: 100%;
}



.card-text {
    color: #000000B2;
}

.card .type {
    font-size: var(--fs-xs);
}

.card .type .key {
    color: var(--my-text-primary);
}

.card .type .value {
    color: var(--my-secondary-color);
}


.expand-all-btn {
    font-size: var(--fs-md);
    font-weight: var(--fw-500);
    color: var(--my-text-primary);
    text-decoration: underline;
}

.expand-all-btn:hover {
    color: var(--my-secondary-color);
}

.itinerary-body {
    box-shadow: var(--n-shadow-2);
    margin-top: 32px;
    padding-bottom: 40px;
    border: 1px solid var(--white-20);
}



/*===============  itenary-flight ================*/
.itenary-flight .flight-left {
    padding-right: 40px;
}

.itenary-flight .flight-right {
    padding-left: 40px;
    border-left: 1px solid var(--my-secondary-color);
}

.itenary-flight .see-more-btn {
    background-color: var(--my-white);
    padding: 6px 8px;
    border-radius: 4px;
    font-weight: 600;
    color: #0032F999;
    box-shadow: var(--n-shadow-2);
}


.taxi-car .card-img {
    max-width: 250px;
}

.taxi-car .content {
    padding-left: 4px;
}



/*===============  Stayin Card ================*/
.stayin-card {
    background-color: var(--my-white);
    padding: 4px;
    padding-left: 8px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--my-border-secondary);
    align-items: stretch;
    justify-content: space-between;
    display: flex;
}

.stayin-card .content {
    width: 60%;
}


.stayin-card .img-wrap {
    width: 40%;
}



.stayin-card .img-wrap img {
    width: 90%;
    height: 100%;
    border-radius: 4px;
    /* aspect-ratio: 8 / 10; */
}

.stayin-card .content {
    padding: 4px;
    padding-left: 0;
}

.stayin-card .title {
    font-size: var(--fs-sm);
    line-height: var(--line-height-sm);
}

.stayin-card .break-fast-icon,
.stayin-card .hotel-icon {
    width: 24px;
    height: 24px;
    border-radius: var(--radius-round);
    background-color: var(--my-secondary-color);
    color: var(--my-white);
}

.stayin-card .hotel-icon {
    background-color: #FDCDC1;
    color: var(--my-text-tertiary);
}



/*===============  itenary-Car ================*/
.itenary-car .content {
    padding-left: 4px;
}

.card .car-others-info .item {
    background-color: #E0ECFC;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.card .car-others-info .key {
    padding: 4px 6px;
}

.card .car-others-info .value {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    width: 24px;
    height: 26px;
    border-radius: 4px;
}


.card .booking-info ul {
    list-style: disc;
    padding-left: 32px;
}

.card .booking-info li {
    font-size: var(--fs-low);
    padding-left: 0;
}

.card .view-button {
    color: var(--my-secondary-color);
    font-size: var(--fs-xs);
    font-weight: var(--fw-600);
    text-decoration: underline;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.card .view-button:hover {
    color: var(--my-primary-color);
}

.day-by-day .days {
    position: relative;
    padding: 0 20px;
    padding-right: 12px;
    padding-top: 32px;
}

.day-by-day .day-item {
    position: relative;
    user-select: none;
}

.day-by-day .day-item::after {
    content: '';
    position: absolute;
    left: 18px;
    top: 40px;
    border: 2px dashed var(--my-secondary-color);
    height: calc(100% - 40px);
}



.day-by-day .day-head {
    cursor: pointer;
}

.day-by-day .day-head .day-name {
    transition: .25s ease;
    user-select: none;
}

.day-by-day .day-head:hover .day-name {
    color: var(--my-secondary-color);
}

.day-by-day .day-head .left-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    background-color: var(--my-secondary-color);
}


/* day content */
.day-by-day .day-content {
    padding: 0 24px;
    padding-right: 20px;
    margin: 20px;
    margin-top: 6px;
    max-height: 0;
    margin-right: 0;
    padding-right: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out, opacity 1.1s ease-in-out;
    opacity: 0;
    padding-bottom: 32px;
    margin-bottom: 0;
}



.day-by-day .day-item.active .day-content {
    max-height: 4000px;
    opacity: 1;
}

.day-item .arrow-icon svg {
    transition: .8s ease-in-out;
}

.day-item.active .arrow-icon svg {
    transform: rotate(180deg);
}







/*===============  Activity Items ================*/
.day-item .activity {
    padding-top: 12px;
    position: relative;
}

.day-by-day .activity::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 52px;
    border: 2px dashed var(--my-secondary-color);
    height: calc(100% - 40px);
}

.day-by-day .activity:last-child::after {
    content: unset;
}


.day-item .activity .activity-icon {
    width: 34px;
    height: 34px;
    border-radius: var(--radius-round);
    background-color: #D1EFFF;
    box-shadow: var(--shadow-all-md);
    box-shadow:
        0px 2px 4px 2px rgba(0, 0, 0, 0.1),
        0px 5px 5px 0px rgba(0, 0, 0, 0.09),
        0px 10px 4px 0px rgba(0, 0, 0, 0.05),
        0px 10px 8px 0px rgba(0, 0, 0, 0.01),
        0px 20px 9px 0px rgba(0, 0, 0, 0);
}

.day-item .activity-name {
    color: var(--my-text-quaternary);
    font-size: var(--fs-md);
}

.day-item .activity-name .key {
    color: var(--my-text-primary);
}

.day-item .activity-body {
    padding-left: 44px;
    position: relative;
    padding-top: 12px;
}








/*===============  Stayin Similar ================*/
.stayin-similar {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    align-items: stretch;

}

.stayin-similar .stayin-slider {
    width: 70%;
}

.stayin-similar .similar-stayin {
    width: 30%;
}


.similar-stayin {
    background-color: var(--my-white);
    padding: 8px 4px 4px 8px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--my-border-secondary);
}

.similar-stayin .right {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    padding: 8px;
    border-radius: var(--radius-md);
}

.similar-stayin .right .text {
    border-radius: var(--radius-sm);
    border: 1px dashed var(--my-white);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}








/*===============  Place Card ================*/
.place-card {
    position: relative;
    border-radius: var(--radius-md);
    overflow: hidden;
    min-height: 190px;
    min-width: 276px;
}

.swiper .place-card {
    min-width: unset;
}

.place-card .img-wrap img {
    position: absolute;
    height: 100%;
    inset: 0;
}

.place-card .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 12px;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, .02) 20%, rgba(0, 0, 0, .9) 100%, rgba(0, 0, 0, 99) 100%);
}

.place-card .view-details,
.view-details-primary,
.view-details-secondary {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    font-size: var(--fs-xs);
    padding: 6px 8px;
    border-radius: var(--radius-sm);
}

.view-details-primary {
    background-color: var(--my-primary-color);
}

.view-details-primary:hover {
    background-color: var(--my-secondary-color);
}

.view-details-secondary {
    background-color: var(--my-secondary-color);
}

.view-details-secondary:hover {
    background-color: var(--my-primary-color);
}

.place-card .view-details:hover {
    background-color: var(--my-primary-color);
}

.place-card .name {
    max-width: 50%;
    line-height: var(--line-height-xs);
}

.place-card .offer-ribbon {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--my-secondary-color);
    border-radius: 8px 0 8px 0px;
    color: var(--my-white);
    z-index: 2;
    font-size: var(--fs-low);
    padding: 4px 6px;
}


.place-card .old {
    font-size: var(--fs-low);
    text-decoration: line-through;
    color: var(--my-rating);
}

.place-card .new {

    color: var(--my-rating);
}







/*===============  activates card ================*/
.activates-card {
    max-width: 600px;
    padding: 6px;
}

.activates-card .content {
    width: 45%;
    padding: 8px;
}

.activates-card .img-wrap {
    width: 55%;
}

.activates-card .img-wrap img {
    width: 100%;
    max-width: 320px;
    max-height: 200px;
    border-radius: 4px;
    margin: 0;
}

.activates-card .view-details {
    padding: 6px 8px;
    border-radius: var(--radius-sm);
    background-color: var(--my-primary-color);
    color: var(--my-white);
    font-size: var(--fs-xs);
}

.activates-card .view-details:hover {
    background-color: var(--my-secondary-color);
}




/*===============  Sub Itenary ================*/
.sub-itenary .sub-itenary-items .icon {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-round);
    background-color: #FFB201;
    z-index: 2;
}

.sub-itenary .sub-itenary-items .item {
    padding-bottom: 12px;
    position: relative;
}

.sub-itenary .sub-itenary-items .item::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 15px;
    border: 1px dashed var(--my-secondary-color);
    height: 100%;
    z-index: 1;
}

.sub-itenary .sub-itenary-items .item:last-child::after {
    content: unset;
}



/*===============  Train Card  ================*/
.train-card img {
    max-width: 300px;
    height: 100%;
}

.card img {
    max-height: 240px;
}

/* guider-card */
.guider-card {
    padding: 4px;
}

.guider-card .content {
    padding: 8px;
}

.guider-card .img img {
    max-height: 170px;
    object-fit: cover;
    object-position: top;
    padding: 0;

}

/* ship-card */
.ship-card {
    max-width: 600px;
}








/*
=============================================
=====||   Related Product  Start Here     ||=====
=============================================
*/
.related-products-wrap {
    padding-bottom: 60px;
}

.related-products-slider {
    padding: 12px;
    padding-bottom: 20px;
}

.related-products-slider .tour-cart.package {
    box-shadow: var(--n-shadow-1);
}

.related-products-wrap .tour-cart.package .new-price {
    font-size: var(--fs-xl);
    font-weight: 700;
}

.related-products .section-title {
    font-size: var(--fs-3xl);
}







/*
=============================================
=====||   Support Section Start Here     ||=====
=============================================
*/

.support-sec .left .icon {
    background-color: #CEFF82;
    width: 36px;
    height: 36px;
    border-radius: var(--radius-round);
}

.support-sec .right .section-title {
    font-size: var(--fs-xxl);
    line-height: var(--fs-xxl);
}

.support-sec .item {
    border-radius: var(--radius-sm);
    position: relative;
    overflow: hidden;
    border: 1px solid #0000001A;
    transition: .2s ease;
}

.support-sec .bg-img {
    height: 100%;
}

.support-sec .item img {
    height: 100%;
}

.support-sec .item .content {
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    bottom: 0;

    /* ⭐ blur fade */
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, .9) 10%,
            rgba(0, 0, 0, .4) 25%,
            rgba(0, 0, 0, 0) 80%);

}

.support-sec .item .name {
    line-height: var(--line-height-sm);
    font-size: var(--fs-md);
}

.support-sec .item:hover {
    transform: scale(.98);
}








/*
=============================================
=====||   Included Start Here     ||=====
=============================================
*/
.included-sec .item .icon {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    border: 1px solid var(--my-secondary-color);
    background-color: #FFE0D9;
}

.included-sec .included-package .icon {
    border: none;
    background-color: rgba(0, 128, 0, 0.242);
}




/*
=============================================
=====||   Tour Map  Start Here     ||=====
=============================================
*/
.map-wrap {
    position: relative;
    height: 418px;
    overflow: hidden;
}

.map-wrap iframe {
    height: 100%;
}

.map-wrap .map-btns {
    position: absolute;
    bottom: 24px;
    left: 24px;
    max-width: 400px;
    z-index: 3;
}

.map-wrap .map-btns .map-btn {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    padding: 6px 8px;
    border-radius: var(--radius-sm);
    font-size: var(--fs-md);
}

.map-wrap::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000024;
    z-index: 1;
    transition: .6s ease;
    transform-origin: bottom;
}

.map-wrap:hover::after {
    transform: scale(0);
    transform-origin: bottom;
}









/*
=============================================
=====||   Expected BHudget  Start Here     ||=====
=============================================
*/
.expected-budget .search-input input {
    border-radius: var(--radius-pill) !important;
}

.expected-budget .swiper-wrapper {
    padding-bottom: 4px;
}

.expected-budget .slider-and-bottom .item {
    border-radius: var(--radius-xxl);
    border: 1px solid var(--my-secondary-color);
    padding: 16px;
}

.expected-budget .slider-and-bottom .item .bottom {
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid var(--my-border-primary);
}

.expected-budget .slider-and-bottom .item .right-icon {
    border-radius: var(--radius-round);
    width: 40px;
    height: 40px;
    border: 1px solid var(--my-border-primary);
}

.expected-budget .slider-and-bottom .item.active {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
}

.expected-budget .slider-and-bottom .item.active .price,
.expected-budget .slider-and-bottom .item.active .person,
.expected-budget .slider-and-bottom .item.active .name,
.expected-budget .slider-and-bottom .item.active i {
    color: var(--my-white);
}

.expected-budget .slider-and-bottom .item.active .right-icon {
    background-color: var(--my-white);
}

.expected-budget .price-area .right .my-btn {
    border-radius: var(--radius-xl);
    padding: 10px 24px;
}


.expected-budget .price-area .right .add-to-cart {
    border: 1px solid var(--my-secondary-color);
    color: var(--my-secondary-color);
}

.expected-budget .price-area .right .add-to-cart:hover {
    color: var(--my-primary-color);
    border-color: var(--my-primary-color);
    transition: .3s;
}

.expected-budget .p-price {
    line-height: var(--line-height-lg);
}






/*
=============================================
=====||   Customer Review Start Here     ||=====
=============================================
*/

.customer-reviews-sec .item {
    padding: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    transition: .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-reviews-sec .item:hover {
    box-shadow: 0px 4px 16px 0px #0000001F;
    border-color: transparent;
}


.customer-reviews-sec .soft-pagination .page,
.customer-reviews-sec .soft-pagination .jumper,
.customer-reviews-sec .soft-pagination .next,
.customer-reviews-sec .soft-pagination .prev {
    border-radius: 40px;
}

.customer-gallery-sec img {
    border: 1px solid var(--my-border-secondary);
    max-height: 240px;
}















/*  Car modal */
.modal .image-gallery {
    display: flex;
    align-items: stretch;
    gap: 24px;
    height: 282px;
    margin-top: 32px;
    width: 100%;
}

.modal .image-gallery .item {
    height: 100%;
    width: 100%;
    position: relative;
}

.modal .image-gallery .view-all,
.modal .image-gallery .total-img {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 8px 12px;
    border-radius: var(--radius-sm);
    color: var(--my-white);
    backdrop-filter: blur(5px);
    border: 1px solid color-mix(in srgb,
            currentColor 60%,
            transparent);
    display: flex;
    gap: 8px;
}

.modal .image-gallery .total-img {
    border: 1px solid color-mix(in srgb,
            currentColor 6%,
            transparent);
}

.modal .image-gallery .view-all:hover {
    backdrop-filter: blur(2px);
}

.modal .image-gallery img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-sm);
    display: block;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
}

.modal .image-gallery .gallery-left {
    width: 40%;
    display: flex;
    height: 100%;
}



.modal .image-gallery .gallery-right {
    width: calc(60% - 0px);
    display: flex;
    gap: 12px;
    height: 100%;
}

.modal .image-gallery .gallery-right .left {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal .image-gallery .gallery-right .left .top,
.modal .image-gallery .gallery-right .left .bottom,
.modal .image-gallery .gallery-right .right .top,
.modal .image-gallery .gallery-right .right .bottom {
    height: calc(50% - 6px);
}

.modal .image-gallery .gallery-right .right {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal .details .desc {
    font-size: var(--fs-md);
    color: #00000080;
    line-height: var(--line-height-md);
}

.text-black-50 {
    color: #00000080;
}

.modal .details-title {
    font-size: var(--fs-xxl);
    color: var(--my-text-primary);
    font-weight: var(--fw-600);
}


.card-wrap {
    display: flex;
    gap: 24px;
}

.card-wrap .card-item {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--radius-xl);
    border: 1px solid var(--my-border-secondary);
    padding: 0px;
    box-shadow: var(--n-shadow-1);
    transition: .24s ease;
    padding-bottom: 8px;
}



.card-wrap .card-item::after {
    content: '';
    left: 0px;
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 80%;
    height: calc(100% - 210px);
    background-color: var(--my-border-primary);
    z-index: 0;
    transition: .2s ease;
}

.card-wrap .card-item::before {
    content: '';
    right: 0px;
    position: absolute;
    bottom: 0;
    width: 0px;
    height: calc(100% - 210px);
    background-color: var(--my-border-primary);
    z-index: 0;
    transition: .2s ease;
}

.card-wrap .card-item:hover::after,
.card-wrap .card-item:hover::before {
    width: 5px;
}


.card-wrap .card-item .top {
    position: relative;
    width: 100%;
    height: 222px;
}


.card-wrap .card-item .top .view-all,
.card-wrap .card-item .top .total-img {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 8px 12px;
    border-radius: var(--radius-sm);
    color: inherit;
    backdrop-filter: blur(5px);
    display: flex;
    gap: 8px;
    z-index: 4;
    font-size: var(--fs-xs);
    background: #FFFFFF40;
    font-weight: 600;
    border: 1px solid color-mix(in srgb, currentColor 10%, transparent);
    box-shadow: var(--n-shadow-1);

}

.card-wrap .card-item .top img {
    border-radius: var(--radius-xl);
    height: 100%;
    height: 222px;
}

.card-wrap .card-item .top .swiper {
    overflow: hidden;
    border-radius: var(--radius-lg);
}

.card-wrap .card-item .card-content {
    padding: 8px 16px;
    margin-top: 12px;
}

/* car-price */
.card-item .card-price {
    margin-top: 20px;
    background-color: var(--my-border-secondary);
    padding: 12px;
    border-radius: var(--radius-md);

}

.card-item .card-price .my-btn:hover {
    background-color: var(--my-secondary-color);
}

.card-item .card-price .old {
    text-decoration: line-through;
    font-weight: 500;
    color: var(--my-text-quaternary);
    display: flex;

}

.card-item .key span {
    white-space: nowrap;
}

.card-item .card-ribbon-right {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: var(--my-secondary-color);
    z-index: 2;
    padding: 5px 6px;
    border-radius: 4px;
    font-size: var(--fs-low);
    color: var(--my-white);
    box-shadow: var(--n-shadow-1);
}






.modal .card-info .item {
    border-top: 1px solid var(--my-border-secondary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.modal .card-info .item:last-child {
    border-bottom: 1px solid var(--my-border-secondary);
}

.modal .card-info .item .key,
.modal .card-info .item .value {
    padding: 12px;
}

.modal .card-info .item .key {
    border-right: 1px solid var(--my-border-secondary);
    font-weight: var(--fw-600);
}

.modal .card-info .item .value {
    padding-left: 20px;
    font-size: var(--fs-md);
}

.modal .card-info .item .key {
    gap: 10px;

}

.modal .card-info .item .key svg {
    width: 20px;
}




/* hotel-modal */
.hotel-modal .card-item .value {
    color: var(--my-text-primary);
    font-weight: 600;
    font-size: var(--fs-md);
}

.modal .card-item .key svg {
    width: 20px;
    max-height: 18px;
}




.modal .slider-area {
    border-radius: var(--radius-md);
    height: 420px;
    width: 100%;
    display: flex;
    background-color: rgb(40, 40, 40);
    overflow: hidden;
}

.modal .slider-area .left,
.modal .slider-area .right {
    width: 28%;
    position: relative;
}

.modal .slider-area .left img,
.modal .slider-area .right img {
    height: 100%;
    max-height: unset;
}

.modal .slider-area .right::after,
.modal .slider-area .left::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000099;
}

.modal .slider-area .medile-slider {
    flex: 1;
    background: #14161E;
    z-index: 3;
    position: relative;
}

.modal .slider-area .medile-slider .item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .swiper-pagination {
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    gap: 4px;
    /* space between bullets */
}

.modal .swiper-pagination-bullet {
    background-color: var(--my-secondary-color);
    opacity: .6;
}

/* active bullet */
.swiper-pagination-bullet-active {
    background-color: var(--my-secondary-color);
    width: 16px;
    height: 16px;
    opacity: 1;
}





/* food-modal */
.food-modal .food-items {
    border: 1px solid var(--my-border-primary);
    border-radius: var(--radius-sm);
}

.food-modal .food-items .item {
    padding: 12px 16px;
    border-right: 1px solid var(--my-border-primary);
}

.food-modal .food-items .item:last-child {
    border-right: none;
}

.details-ul-wrap li {
    position: relative;
    padding-left: 24px;
}

.details-ul-wrap li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #ff6b4a;
    border-radius: 50%;
    outline: 3px solid #ff73545e;
    /* box-shadow: 0 0 0 3px rgba(255, 107, 74, 0.25); */
}


.modal .cart-btn:hover {
    background-color: var(--my-secondary-color);
}

.modal .big-img img {
    max-height: 500px;
    width: 100%;
    border-radius: var(--radius-sm);
}









/*
==================================================
=====||   Event Package Page  Start Here   ||=====
==================================================
*/
.package-information .highlights-items p.value,
.package-information .highlights-items div.key {
    display: inline;
}

.package-information .meet-up-point-wrap {
    display: flex;
    gap: 50px;
}

.package-information .cheking .body {
    padding: 12px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--my-border-secondary);
    box-shadow: var(--n-shadow-1);
    display: flex;
    padding-right: 24px;
}

.package-information .arrow {
    width: 100px;

}

.package-information .meet-up-point {
    border: 1px solid var(--my-secondary-color);
    border-radius: var(--radius-sm);
    padding: 16px 20px;
}

.package-information .meet-up-point .map img {
    max-height: 100px;
    border-radius: 4px;
}

.package-information .meet-up-point .address-details {
    max-width: 180px;
}


.event-price-card .seat-available {
    padding: 14px;
    font-weight: var(--fw-600);
    color: var(--my-primary-color);
    font-size: var(--fs-md);
    border: 1px solid var(--my-border-primary);
    width: 100%;
    border-radius: var(--radius-xxl);
}

.event-price-card .cart-bottom {
    padding-top: 32px;
    border-top: 1px solid var(--my-border-secondary);
}

.event-price-card .my-btn {
    padding: 14px 18px;
    border-radius: var(--radius-xl);
    flex: 1;
    transition: .2s ease;
}

.event-price-card .fill {
    background-color: var(--my-primary-color);
    color: var(--my-white);
}

.event-price-card .fill:hover {
    background-color: var(--my-secondary-color);
}

.event-price-card .outline {
    border: 1px solid var(--my-primary-color);
}

.event-price-card .outline:hover {
    border-color: var(--my-secondary-color);
    color: var(--my-secondary-color)
}


.event-booking .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-price-card .event-booking .item .arrow {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-price-card .event-booking .item .right,
.event-price-card .event-booking .item .left {
    flex: 1;
}

.event-price-card .quantity .qty-btns {
    padding: 4px;
    border-radius: var(--radius-pill);
    border: 1px solid var(--my-secondary-color);
    background-color: var(--my-secondary-color);
}

.event-price-card .quantity .btn {
    color: var(--my-white);
    font-size: var(--fs-xl);
    padding: 4px;
    cursor: pointer;
    flex: 1;
    line-height: var(--line-height-low);
    padding-bottom: 6px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.event-price-card .quantity .btn:hover {
    border: 1px solid var(--my-rating);
}

.event-price-card .quantity input {
    width: 35px;
    height: 30px;
    color: var(--my-secondary-color);
    font-weight: var(--fw-600);
}


.event-price-card .extra-room .bed {
    width: 56px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--my-border-primary);
}

.event-price-card .total {
    /* border-top: 1px solid var(--my-border-secondary); */
}

.highlights-items .icon {
    width: 42px !important;
    height: 42px !important;
}


@media (max-width:1439px) {

    .place-card .view-details,
    .view-details-primary,
    .view-details-secondary {
        padding: 6px 7px;
    }
}


@media (max-width:1280px) {
    .customer-reviews-sec .item {
        padding: 16px;
    }

    .customer-reviews-sec .item .name {
        line-height: var(--line-height-sm);
        font-size: var(--fs-md);
    }


    .support-sec .item {
        max-height: 200px;
    }

    .event-package-content {
        width: calc(100% - 370px);
    }

    .product-hero-wrap .tour-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .packevent-package-main .price-card,
    .event-package-main .event-price-card {
        width: 26.75%;
        min-width: 280px;
        flex: 1;
        display: flex;
    }

    .stayin-similar .similar-stayin {
        width: 50%;
    }

    .place-card .name {
        max-width: 60%;
        line-height: var(--line-height-xs);
    }
}

@media (max-width:1080px) {

    .customer-reviews-sec .item .name span {
        display: none;
    }

    .product-hero-wrap .tour-info {
        grid-template-columns: repeat(2, 1fr);
    }


    .event-package-content {
        width: calc(100% - 320px);
    }


    .packevent-package-main .price-card,
    .event-package-main .event-price-card {
        min-width: 270px;
    }

    .event-price-card .my-btn {
        padding: 12px 16px;
        font-size: var(--fs-sm);
    }

    .day-by-day .days {
        padding: 0 12px;
        padding-top: 24px;
        border-radius: 12px;
    }

    .itinerary-body {
        border-radius: 16px;
        padding-bottom: 24px;
    }

    .package-information .meet-up-point-wrap {
        display: flex;
        gap: 28px;
        flex-wrap: wrap;
    }

    .tour-type .icon {
        bottom: -31px;
    }

    /*===============  Place Card ================*/
    .place-card {
        position: relative;
        border-radius: var(--radius-md);
        overflow: hidden;
        min-height: 160px;
        min-width: 260px;
    }

    .sub-itenary-items {
        padding-left: 0;
    }

    .sub-itenary .sub-itenary-items .icon {
        min-width: 32px;
    }

    .sub-itenary .sub-itenary-items .item .left {
        flex: 1;
    }

    .sub-itenary .sub-itenary-items .item .left .my-d-flex.my-gap-2 {
        flex: 1;
    }

    .sub-itenary .sub-itenary-items .item .left .key {
        min-width: 120px;
        max-width: 120px;
    }

    .sub-itenary .sub-itenary-items .item .right {
        width: 20%;
    }
}




/* For Tab */
@media (max-width:991px) {

    .event-package-main {
        flex-direction: column;
        padding-top: 32px;
    }

    .event-package-content {
        width: calc(100% - 0px);
        order: 2;
    }

    .price-card {
        order: 1;
        max-width: 400px;
        width: 100%;
    }

    .event-package-main .price-card-wrap {
        padding: 24px 24px;
        padding-top: 8px;
        display: flex;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* Product Hero */
    .product-hero-wrap .bottom-side .left {
        width: 60%;
    }

    .product-hero-wrap .bottom-side .right {
        width: 38%;
    }

    .product-hero-wrap .top-side {
        gap: 30px;
    }

    .product-hero-wrap .tour-info {
        padding: 16px 0;
    }

    /* review slider */
    .product-hero-wrap .bottom-side .review .desc {
        line-height: var(--line-height-sm);
        font-size: var(--fs-md);
    }

    .product-hero-wrap .bottom-side .review .right p {
        font-size: var(--fs-xs);
    }

    .card {
        flex-direction: column;
    }

    .card .content {
        order: 2;
        width: 100%;
    }

    .card .img,
    .card .img-wrap {
        order: 1;
        width: 100%;
    }

    .stayin-similar .similar-stayin,
    .stayin-similar .stayin-slider {
        width: 100%;
    }

    .day-by-day .day-head .left-icon {
        width: 36px;
        height: 36px;
    }

    .day-by-day .day-head .day-name {
        font-size: var(--fs-lg);
        line-height: 1.2;
        flex-wrap: wrap;
    }

    .day-by-day .day-head .day-head .left {
        gap: 12px;
    }

    .day-by-day .day-head .day-head .right strong {
        font-size: var(--fs-sm);
        line-height: 1.4;
    }



    /* package-summery */
    .package-summery .my-fs-xxl {
        line-height: var(--line-height-lg);
        margin-top: 12px;
    }


    /* expected-budget */
    .expected-budget {
        padding: 32px 0;
    }

    .customer-reviews-sec,
    .tour-map,
    .included-sec,
    .support-sec,
    .day-by-day,
    .package-information-wrap {
        padding: 32px 0;
    }

    .related-products-wrap {
        padding-top: 32px;
    }

    .package-summery {
        padding-bottom: 0;
        padding-top: 32px;
    }

    .package-information .section-title {
        font-size: var(--fs-xxl);
    }

    .highlights-items .info {
        font-size: var(--fs-lg);
    }

    .p-sub-container .section-title,
    .related-products .section-title {
        font-size: var(--fs-xxl);
    }
}


@media (max-width:767px) {
    .expeceted-slider-wrap .swiper-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .expeceted-slider-wrap .swiper-wrapper .swiper-slide {
        width: 100% !important;
        max-width: unset;
    }

    .expected-budget .right-slider-arrows {
        display: none;
    }


    /*========================||  Hero Section  ||=====================*/
    .product-hero {
        margin-top: 16px;
    }

    .product-hero .section-title {
        font-size: var(--fs-3xl);
        line-height: var(--line-height-xxl);
    }

    .product-hero .short-desc {
        font-size: var(--fs-md);
        line-height: var(--line-height-md);
    }

    .category-wrap .cart-category {
        font-size: var(--fs-xs);
        padding: 2px 12px;
        line-height: var(--line-height-lg);
        border-radius: var(--radius-md);
    }

    .product-hero-wrap .compare-and-other .compare {
        font-weight: 400;
        padding: 6px 16px;
        font-size: var(--fs-sm);
    }

    .product-hero-wrap .compare-and-other .btn {
        width: 36px;
        height: 36px;
    }

    .product-hero-wrap .bottom-side {
        display: none;
    }

    .product-hero-wrap .top-side {
        flex-direction: column;
        gap: 20px;
    }

    .hero-section-mobile {
        position: relative;
    }

    .product-hero-wrap .tour-type {
        display: none;
    }

    .product-hero-wrap .compare-and-other {
        width: 100%;
        justify-content: space-between;
    }

    .hero-section-mobile .tour-type {
        position: absolute;
        right: 16px;
        top: 16px;
        z-index: 3;
        background-color: var(--my-white);
        padding: 6px 12px;
    }

    .hero-section-mobile .tour-type .name {
        font-size: var(--fs-low);
        color: var(--my-primary-color);
        font-weight: var(--fw-700);
        margin-top: 2px;
    }

    .tour-type .icon {
        bottom: -21px;
    }

    .hero-slider-mobile .item {
        height: 230px;
    }

    .hero-section-mobile .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--my-white);
        border-radius: 50px;
        opacity: 1;
        transition: width 0.35s ease, background-color 0.35s ease;
    }

    .hero-slider-mobile .swiper-pagination-bullet-active {
        width: 28px;
        background-color: var(--my-secondary-color);
    }

    /* tour-info */
    .product-hero-wrap .tour-info {
        width: 99%;
    }

    .tour-info .item {
        padding: 8px;
    }

    .tour-info .item .icon svg {
        width: 20px;
        height: 20px;
    }

    .tour-info .item .key span {
        white-space: nowrap;
    }

    .tour-info .item .key span,
    .tour-info .item .key,
    .tour-info .item .value,
    .tour-info .item .value p {
        font-size: var(--fs-xs);
        line-height: 18px;
    }

    .tour-info .item .value {
        word-wrap: wrap;
    }

    /* highlights tour */
    .highlights-items .info {
        font-size: var(--fs-sm);
        line-height: var(--line-height-sm);
        color: var(--my-text-quaternary);
    }

    /* package-summery */
    .package-summery .right-slider-arrows {
        display: none;
    }

    .package-summery .name {
        font-weight: var(--fw-600);
        font-size: var(--fs-xl);
    }

    .packageSummerySlider {
        display: none;
    }

    .packageSummerySlider .item .item-content .name,
    .package-summery-items-mobile .item .item-content .name {
        font-size: var(--fs-md);
    }


    /* day-by-day  */
    .day-by-day .section-title {
        font-size: var(--fs-xl);
    }


    .day-by-day .top-btn {
        border-radius: 4px;
        padding: 5px 16px;
        font-size: var(--fs-xs);
        width: fit-content;
    }

    .expand-all-btn {
        font-size: var(--fs-xs);
        color: var(--my-secondary-color);
    }

    /* included-sec */
    .included-sec .item .flex-1 {
        font-size: var(--fs-md);
        line-height: var(--line-height-md);
    }
}