.section-main {
    padding-bottom: 0;
}



.p-sub-container {
    width: 70.58333%;
    border: 1px solid rgba(231, 231, 231, 0.6);
}

.p-sub-container .section-title {
    font-size: var(--fs-3xl);
}

.tour-type {
    border-radius: var(--radius-xxl);
    padding: 11px 12px;
    background-color: var(--my-secondary-color);
    position: relative;
}

.tour-type .icon {
    position: absolute;
    right: 0;
    bottom: -34px;

}

.category-wrap .cart-category {
    font-size: var(--fs-sm);
    padding: 5px 16px;
    line-height: var(--line-height-lg);
    border-radius: var(--radius-md);
}


/*
=============================================
=====||   Product Hero Start Here     ||=====
=============================================
*/
.product-hero-wrap .compare-and-other .btn {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    border: 1px solid var(--my-primary-color);
    background-color: var(--my-primary-color);
    transition: .2s ease;
}

.product-hero-wrap .compare-and-other .compare {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    padding: 8px 16px;
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
}

.product-hero-wrap .compare-and-other .btn.outline {
    background-color: transparent;
}

.product-hero-wrap .compare-and-other .btn:hover {
    background-color: var(--my-secondary-color);
    border-color: transparent;
}

.product-hero-wrap .compare-and-other .btn.outline:hover {
    border-color: var(--my-border-primary);
    background-color: transparent;
}


/**************
 bottom-side
 *************/
.product-hero-wrap .bottom-side {
    display: flex;
    gap: 20px;
    width: 100%;
}

/* Left side - 64% */
.product-hero-wrap .bottom-side .left {
    width: 64%;
}

/* Right side - 36% */
.product-hero-wrap .bottom-side .right {
    width: 36%;
}

.product-hero-wrap .bottom-side .banner-item {
    height: 224px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-xxl);
    transition: .4s ease;
    background-color: red;
}

.product-hero-wrap .bottom-side .banner-item .view-all {
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 8px 16px;
    font-size: var(--fs-xs);
    color: var(--my-white);
    z-index: 4;
    backdrop-filter: blur(14px);
    font-weight: var(--fw-600);
    background-color: #FFFFFF40;
}

.product-hero-wrap .bottom-side .banner-item::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    background-color: rgba(163, 31, 163, 0.193);
    transform: translateY(300px);
}

.product-hero-wrap .bottom-side .banner-item:hover::after {
    height: 100%;
    transform: translateY(-300px);
}

.product-hero-wrap .bottom-side .banner-img {
    border-radius: var(--radius-xxl);
    height: 100%;
}

/* review */
.product-hero-wrap .bottom-side .review {
    padding: 16px;
    background-color: #DBF7FF;
    height: 224px;
    width: 100%;
}

.product-hero-wrap .bottom-side .review .right {
    flex: 1;
}

.product-hero-wrap .bottom-side .review .desc {
    line-height: var(--line-height-md);
    font-size: var(--fs-lg);
    color: var(--my-text-primary);
}

.product-hero-wrap .bottom-side .review .profile-img-xl {
    border: 3px solid var(--my-white);
    padding: 1px;
    width: 60px;
    height: 60px;
}

.rating i {
    color: var(--my-rating);
}









/* tour-info */
.product-hero-wrap .tour-info .item {
    background-color: #f5f5f5;
}













/*
====================================================
=====||   Product Information Start Here     ||=====
====================================================
*/
.package-information .section-title {
    font-size: var(--fs-3xl);
}

.package-information-wrap {
    display: flex;
    align-items: flex-start;
    gap: 2.66667%;
    align-items: stretch;
    /* 32px equivalent in % */
}

.information-left {
    width: 70.58333%;
    /* 847px equivalent */
}

/* highlights-items */
.package-information .highlights-items .icon {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-round);
    border: 1px solid var(--my-secondary-color);
    background-color: #FFE0D9;
}

.package-information .highlights-items .icon img {
    width: 16px;
}



/* Price Card */
.package-information .price-card {
    width: 26.75%;
    flex: 1;
    display: flex;
}

.package-information .price-card-wrap {
    background-color: var(--my-white);
    padding: 26px 20px;
    display: flex;
    width: 100%;
    height: fit-content;
    border: 1px solid var(--my-border-secondary);
    border-radius: var(--radius-xxl);
    /* box-shadow: var(--n-shadow-2); */
}

.package-information .price-card .top-btn,
.day-by-day .top-btn {
    font-size: var(--fs-md);
    font-weight: 600;
    width: 100%;
    border-radius: var(--radius-sm);
}

.package-information .price-card .top-btn::after,
.day-by-day .top-btn::after {
    content: unset;
}

.day-by-day .top-btn {
    width: unset;
}

.day-by-day .top-btn:hover,
.package-information .price-card .top-btn:hover {
    background-color: var(--my-secondary-color);
}

.day-by-day .my-secondary-btn.top-btn:hover,
.package-information .price-card .my-secondary-btn.top-btn:hover {
    background-color: var(--my-primary-color);
}

.package-information .price-card .price-text {
    font-size: var(--fs-xxl);
    color: var(--my-text-primary)
}

.package-information .price-card .person {
    color: #A4A7AE;
    font-size: var(--fs-md);
    font-weight: var(--fw-400);
}

.package-information .price-card .date-guest button {
    padding: 6px;
    border-radius: var(--radius-sm);
    font-size: var(--fs-md);
    font-weight: var(--fw-500);
    border: 1px solid var(--my-border-secondary);
}

.package-information .price-card .check-and-make .my-btn {
    line-height: var(--line-height-md);
    padding: 12px;
    border-radius: var(--radius-xl);
}

.package-information .price-card .check-and-make .make.my-btn {
    color: var(--my-secondary-color);
}









/*
================================================
=====||   Package Summary Start Here     ||=====
================================================
*/
.packageSummerySlider .item {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-xl);
}



.packageSummerySlider .item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}

.packageSummerySlider .item img {
    position: absolute;
    inset: 0;
    height: 100%;
}

.packageSummerySlider .item .item-content {
    z-index: 2;
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 100%;
}



.packageSummerySlider .item .item-content .name {
    color: var(--my-white);
    font-size: var(--fs-xl);
    transition: .3s ease;
}

.packageSummerySlider .item:hover .name {
    transform: translateY(-12px);
}







/*
=====================================================
=====||   Day By Day Itinerary Start Here     ||=====
=====================================================
*/
.card {
    background-color: #F3F7FA;
    border-radius: var(--radius-sm);
    border: 0.25px solid;
    border-image-source: linear-gradient(86.4deg, rgba(0, 0, 0, 0.2) 0%, rgba(102, 102, 102, 0.2) 99.43%);
    border: 1px solid #66666635;
    width: fit-content;
    align-items: stretch;
    padding: 16px;
}

.card .title {
    font-size: var(--fs-lg);
    color: var(--my-text-primary);
    font-weight: var(--fw-600);
    line-height: 100%;
}

.card .card-img {
    display: flex;
    border-radius: 8px;
    /* margin: 8px; */
    max-width: 300px;
}

.card-text {
    color: #000000B2;
}

.card .type {
    font-size: var(--fs-xs);
}

.card .type .key {
    color: var(--my-text-primary);
}

.card .type .value {
    color: var(--my-secondary-color);
}


.expand-all-btn {
    font-size: var(--fs-md);
    font-weight: var(--fw-500);
    color: var(--my-text-primary);
    text-decoration: underline;
}

.expand-all-btn:hover {
    color: var(--my-secondary-color);
}

.itinerary-body {
    box-shadow: var(--n-shadow-2);
    margin-top: 32px;
    border: 1px solid var(--white-20);
}

/*===============  itenary-flight ================*/
.itenary-flight .flight-left {
    padding-right: 40px;
}

.itenary-flight .flight-right {
    padding-left: 40px;
    border-left: 1px solid var(--my-secondary-color);
}

.itenary-flight .see-more-btn {
    background-color: var(--my-white);
    padding: 6px 8px;
    border-radius: 4px;
    font-weight: 600;
    color: #0032F999;
    box-shadow: var(--n-shadow-2);
}


.taxi-car .card-img {
    max-width: 250px;
}

.taxi-car .content {
    padding-left: 4px;
}



/*===============  Stayin Card ================*/
.stayin-card {
    background-color: var(--my-white);
    padding: 4px;
    padding-left: 8px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--my-border-secondary);
    align-items: stretch;
    justify-content: space-between;
    display: flex;
}

.stayin-card .content {
    width: 60%;
}


.stayin-card .img-wrap {
    width: 40%;
}

.stayin-card .img-wrap {
    /* background-color: rebeccapurple; */
}

.stayin-card .img-wrap img {
    width: 90%;
    height: 100%;
    border-radius: 4px;
    /* aspect-ratio: 8 / 10; */
}

.stayin-card .content {
    padding: 4px;
    padding-left: 0;
}

.stayin-card .title {
    font-size: var(--fs-sm);
    line-height: var(--line-height-sm);
}

.stayin-card .break-fast-icon,
.stayin-card .hotel-icon {
    width: 24px;
    height: 24px;
    border-radius: var(--radius-round);
    background-color: var(--my-secondary-color);
    color: var(--my-white);
}

.stayin-card .hotel-icon {
    background-color: #FDCDC1;
    color: var(--my-text-tertiary);
}

/*===============  itenary-Car ================*/

.itenary-car .content {
    padding-left: 4px;
}

.card .car-others-info .item {
    background-color: #E0ECFC;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.card .car-others-info .key {
    padding: 4px 6px;
}

.card .car-others-info .value {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    width: 24px;
    height: 26px;
    border-radius: 4px;
}


.card .booking-info ul {
    list-style: disc;
    padding-left: 32px;
}

.card .booking-info li {
    font-size: var(--fs-low);
    padding-left: 0;
}

.card .view-button {
    color: var(--my-secondary-color);
    font-size: var(--fs-xs);
    font-weight: var(--fw-600);
    text-decoration: underline;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.card .view-button:hover {
    color: var(--my-primary-color);
}

.day-by-day .days {
    position: relative;
    padding: 0 20px;
    padding-right: 12px;
}

.day-by-day .day-item {
    margin-top: 32px;
    position: relative;
    user-select: none;
}

.day-by-day .day-item::after {
    content: '';
    position: absolute;
    left: 18px;
    top: 40px;
    border: 2px dashed var(--my-secondary-color);
    height: calc(100% - 40px);
}



.day-by-day .day-head {
    cursor: pointer;
}

.day-by-day .day-head .day-name {
    transition: .25s ease;
    user-select: none;
}

.day-by-day .day-head:hover .day-name {
    color: var(--my-secondary-color);
}

.day-by-day .day-head .left-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-round);
    background-color: var(--my-secondary-color);
}


/* day content */
.day-by-day .day-content {
    padding: 0 24px;
    padding-right: 20px;
    margin: 20px;
    max-height: 0;
    margin-right: 0;
    padding-right: 0;
    /* overflow: hidden; */
    transition: max-height 1s ease-in-out, opacity 1.1s ease-in-out;
    opacity: 0;
}

.day-by-day .day-item.active .day-content {
    max-height: 2000px;
    opacity: 1;
}

.day-item .arrow-icon svg {
    transition: .8s ease-in-out;
}

.day-item.active .arrow-icon svg {
    transform: rotate(180deg);
}






/* activity */
.day-item .activity {
    margin-top: 12px;
    position: relative;
}

.day-by-day .activity::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 40px;
    border: 2px dashed var(--my-secondary-color);
    height: calc(100% - 40px);
}



.day-item .activity .activity-icon {
    width: 34px;
    height: 34px;
    border-radius: var(--radius-round);
    background-color: #D1EFFF;
    box-shadow: var(--shadow-all-md);
    box-shadow:
        0px 2px 4px 2px rgba(0, 0, 0, 0.1),
        0px 5px 5px 0px rgba(0, 0, 0, 0.09),
        0px 10px 4px 0px rgba(0, 0, 0, 0.05),
        0px 10px 8px 0px rgba(0, 0, 0, 0.01),
        0px 20px 9px 0px rgba(0, 0, 0, 0);
}

.day-item .activity-name {
    color: var(--my-text-quaternary);
    font-size: var(--fs-md);
}

.day-item .activity-name .key {
    color: var(--my-text-primary);
}

.day-item .activity-body {
    padding-left: 44px;
    position: relative;
}

.day-item .activity-body .wrap {
    margin-top: 8px;
}






/* stayin-similar */
.stayin-similar {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    align-items: stretch;

}

.stayin-similar .stayin-slider {
    width: 70%;
}

.stayin-similar .similar-stayin {
    width: 30%;
}


.similar-stayin {
    background-color: var(--my-white);
    padding: 8px 4px 4px 8px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--my-border-secondary);
}

.similar-stayin .right {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
    padding: 8px;
    border-radius: var(--radius-md);
}

.similar-stayin .right .text {
    border-radius: var(--radius-sm);
    border: 1px dashed var(--my-white);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}