.my-text- {
    color: var(--my-rating);
}

.tour-type {
    border-radius: var(--radius-xxl);
    padding: 11px 12px;
    background-color: var(--my-secondary-color);
    position: relative;
}

.tour-type .icon {
    position: absolute;
    right: 0;
    bottom: -34px;

}

.category-wrap .cart-category {
    font-size: var(--fs-sm);
    padding: 5px 16px;
    line-height: var(--line-height-lg);
    border-radius: var(--radius-md);
}