/*
=============================================
=====||   Offer Section Start Here    ||=====
============================================
*/
.offer-section .offer-wrapper {
    display: grid;
    grid-template-columns: 36.67% 36.67% 23.2%;
    gap: 24px;
    height: 480px;
}

.offer-wrapper .left-offers,
.offer-wrapper .right-offers {
    height: 480px;
    box-shadow: var(--n-shadow-all-1);
    width: 100%;
    border-radius: var(--radius-xl);
    background-color: black;
    position: relative;
}

.offer-wrapper .middle-offers .top,
.offer-wrapper .middle-offers .bottom {
    box-shadow: var(--n-shadow-all-2);
    border-radius: var(--radius-xl);
    overflow: hidden;
    height: 228px;
    float: 1;
    position: relative;
}

/* offer-item */
.offer-wrapper .offer-item {
    border-radius: var(--radius-xl);
    position: relative;
    background-color: var(--my-bg-dark);
    height: 480px;
    display: block;
    border-radius: var(--radius-xl);
    overflow: hidden;
}

.offer-wrapper .offer-item .offer-img {
    height: 100%;
    width: 100%;
}

.offer-wrapper .offer-item .offer-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

/* left bottom content */
.offer-wrapper .offer-item .bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 22px;
    padding-top: 42px;
    background: #12121280;
    background: linear-gradient(to top, #1212128d 0%, #12121272 40%, #12121200 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.offer-wrapper .offer-item .bottom-content .rating .left {
    color: var(--my-rating);
}

.offer-wrapper .offer-item .bottom-content .rating {
    color: #939AA9;
    line-height: var(--line-height-sm);
}

/* price */
.offer-wrapper .offer-item .bottom-content .price .new-price {
    color: var(--my-white);
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
    font-weight: 600;
}

.offer-wrapper .offer-item .bottom-content .price .old-price {
    color: var(--my-red);
    font-size: var(--fs-low);
    line-height: var(--line-height-xs);
    text-decoration: line-through;
}


/* Middle OFFER */
.offer-wrapper .middle-offers .offer-item img {
    height: unset;
}

.offer-wrapper .middle-offers .offer-item {
    overflow: hidden;
    position: relative;
}

.offer-wrapper .middle-offers .offer-item .offer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    z-index: 31;
}


/* Midlle and right */
.offer-wrapper .middle-offers .offer-item .offer-ribbon,
.offer-wrapper .right-offers .offer-item .offer-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--my-secondary-color);
    line-height: var(--line-height-lg);
    font-size: var(--fs-low);
    color: var(--my-white);
    padding: 2px 8px;
}

/* book button */
.offer-wrapper .middle-offers .offer-item .book,
.offer-wrapper .right-offers .offer-item .book {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 12;
    font-size: var(--fs-sm);
}

/* right slider for offer */
.offer-wrapper .right-offers .offer-item .book {
    font-size: var(--fs-low);
    padding: 4px 12px;
    border-radius: 5px;
    right: 12px;
    bottom: 12px;
}

.offer-wrapper .right-offers .slider-nav {
    position: absolute;
    top: 12px;
    right: 12px;
    gap: 8px;
}

.right-offers .slider-controls button,
.right-offers .right-slider-arrows button {
    height: 28px;
    width: 28px;
    border-radius: 6px;
}

.offer-wrapper .right-offers img {
    object-fit: contain;
}

.Left-offers {
    position: relative;
    /* must */
}


.offer-wrapper .slider-nav {
    position: absolute;
    top: 22px;
    right: 26px;
    z-index: 9999;
    display: flex;
    gap: 12px;
    z-index: 3;
}

/* top overlay */
.offer-wrapper .offer-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #12121293, #12121266, #12121200);
    z-index: 2;
}


.offer-wrapper .slider-nav button {
    color: #000;
    cursor: pointer;
    border: 1px solid var(--my-border-gray);
    background-color: transparent;
}


.offer-wrapper .slider-nav button:hover {
    background-color: var(--my-white);
    border-color: var(--my-border-gray);
}





/*
======================================
=====||   Recent View Start Here    ||=====
======================================
*/
.recent-view.section-main {
    padding-bottom: 0;
}


.best-deal.section-main {
    padding-bottom: 40px;
}








/*
======================================
=====||   Top Trending Start Here    ||=====
======================================
*/
.top-trending-destinations .left {
    max-width: 800px;
}

.top-trending-destinations .section-sub-title {
    color: var(--my-text-primary);
}


/* Body */
.top-trending-dest-body {
    width: calc(100% - 48px);
    display: grid;
    grid-template-columns: 25.43% 34.81% 39.76%;
    gap: 24px;
}

.top-trending-dest-body .left,
.top-trending-dest-body .middle,
.top-trending-dest-body .right {
    height: 468px;
    width: 100%;
    margin-top: 60px;
}

.top-trending-dest-body .dest-item {
    border-radius: var(--radius-xl);
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.top-trending-dest-body .left .dest-item {
    height: 100%;
}

/* image wrap */
.top-trending-dest-body .dest-item .img-wrap {
    width: 100%;
    height: 100%;
}

.top-trending-dest-body .dest-item .img-wrap img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.top-trending-dest-body .dest-item .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 8px;
    font-size: var(--fs-sm);
    color: var(--my-white);
    background-color: var(--my-secondary-color);
    z-index: 3;
    font-weight: 600;
    animation: offerMove 2.6s ease-in-out infinite alternate;
    border-radius: 0 0 0px 6px;
    z-index: 12;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 8px;
    font-size: var(--fs-sm);
    color: var(--my-white);
    background-color: var(--my-secondary-color);
    z-index: 3;
    font-weight: 600;
    animation: offerMove 2.6s ease-in-out infinite alternate;
    border-radius: 0 0 0px 6px;
    z-index: 12;
}

.top-trending-dest-body .dest-item .ribbon.best-seller {
    animation: unset;
    text-align: center;
    font-size: var(--fs-low);
}

@keyframes offerMove {
    0% {
        transform: translateY(-30px);
    }

    70% {
        transform: translateY(0);
    }

    /* reaches bottom early */
    100% {
        transform: translateY(0);
    }

}


/* bottom content */
.top-trending-dest-body .dest-item .bottom-content,
.top-trending-dest-body .dest-item .top-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 12px 16px;
    padding-top: 24px;
    background: linear-gradient(to top, #0000009c, #0000006a, #00000000);
    transition: .3s ease;
    z-index: 5;
}

.top-trending-dest-body .dest-item .top-content {
    top: 0;
    bottom: unset;
    background: linear-gradient(to bottom, #0000009c, #0000006a, #00000000);
}

.top-trending-dest-body .dest-item .bottom-content .name,
.top-trending-dest-body .dest-item .top-content .name {
    color: var(--my-white);
    font-size: var(--fs-3xl);
}

.top-trending-dest-body .dest-item .bottom-content .total-tour,
.top-trending-dest-body .dest-item .top-content .total-tour {
    margin-top: 8px;
    color: var(--my-white);
}


.top-trending-dest-body .dest-item .bottom-content::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #000000a4, #00000057, #00000000);
    opacity: 0;
    transition: .2s ease;
    pointer-events: none;
}


/* when hover */
.top-trending-dest-body .dest-item:hover .bottom-content::after {
    opacity: 1;
    z-index: -1;
}

.top-trending-dest-body .dest-item:hover .bottom-content {
    z-index: 4;
}


/* Middle Items */
.top-trending-dest-body .middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-trending-dest-body .middle .middle-top,
.top-trending-dest-body .middle .middle-bottom {
    width: 100%;
    height: 234px;
}



/* right */
.top-trending-dest-body .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-trending-dest-body .right .right-top .dest-item,
.top-trending-dest-body .right .right-bottom .dest-item {
    /* background-color: red; */
}

.top-trending-dest-body .right .right-top {
    height: 270px;
}

.top-trending-dest-body .right .right-bottom {
    height: 177px;
}

.top-trending-dest-body .right .right-top .bottom-content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.top-trending-dest-body .right .right-top .bottom-content .my-btn {
    font-size: var(--fs-sm);
}

.top-trending-dest .section-btn-wrapper {
    margin-top: 28px;
}






/*
======================================
=====||   Popular Tour Start Here    ||=====
======================================
*/
.popular-tour .head {
    max-width: 800px;
}

.popular-tour .head .section-sub-title {
    color: var(--my-text-primary);
}

/* popular-tour-cart */
.popular-tour-cart {
    background-color: var(--my-white);
    padding: 8px;
    border-radius: var(--radius-xxl);
    box-shadow: 0px 4px 16px 0px #0000001F;
}

.popular-tour-cart .img-wrap {
    width: 100%;
}

.popular-tour-cart .img-wrap img {
    border-radius: var(--radius-xxl);
    width: 100%;
    /* max-height: 234px; */
    aspect-ratio: 16/11;
}

.popular-tour-cart .item-content {
    padding: 0px 48px 30px 12px;
}

.popular-tour-cart .item-content .name {
    color: var(--my-text-primary);
    font-size: var(--fs-xxl);
}

.popular-tour-cart .item-content .total-tour {
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--my-text-primary);
}

.popular-tour-cart .item-content .activities {
    font-size: var(--fs-xs);

}

.popular-tour-cart .item-content .right {
    display: flex;
    flex: 1;
}

.popular-tour-cart .item-content .right .my-btn {
    width: 100%;
    text-align: center;
}

.popular-tour-slider .swiper-slide {
    height: auto;
    /* Let Grid handle the height */
}

.popular-tour-slider .swiper-wrapper {
    align-items: start;
    padding-top: 12px;
}

.popular-body {
    position: relative;
}

.popular-tour .right-slider-arrows {
    position: absolute;
    top: -70px;
    z-index: 4;
    right: 9%;
}

.popular-tour .ribbon {
    animation: unset;
    left: 16px;
    right: unset;
    top: 16px;
    font-size: var(--fs-xs);
}






/* Tour category */
.tour-category-body {
    display: flex;
    gap: 24px;
}

.tour-category-body .left-item,
.tour-category-body .right-items {
    width: 50%;
}


.tour-category-body .category-item {
    position: relative;
    border-radius: var(--radius-xxl);
    transition: .3s ease;
}

.tour-category-body .category-item:hover {
    transform: translateY(-8px);
}

.tour-category-body .left-item {
    position: relative;
    height: 680px;
}

.tour-category-body .category-item .img-wrap {
    height: 100%;
}

.tour-category-body .category-item .img-wrap img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-xxl);
}

.tour-category-body .category-item .item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 24px;
    box-shadow: -8px 21px 50px 0px #0000001A;
    background-color: var(--my-white);
    border-radius: var(--radius-xxl);
    width: 100%;
}

.tour-category-body .category-item .category-name {
    font-size: var(--fs-3xl);
    font-weight: 700;
    color: var(--my-secondary-color);
    line-height: var(--line-height-xxl);
}

.tour-category-body .category-item .desc {
    font-size: var(--fs-sm);
    line-height: var(--line-height-md);
    color: var(--primary-80);
    width: 338px;
    font-weight: 600;
}

.tour-category-body .category-item .item-content .my-btn {
    flex: 1;
}


/* right items */
.tour-category-body .right-items .top .category-item {
    height: 328px;
}

.tour-category-body .right-items .item-content {
    padding: 4px 28px 16px 24px;
}

.tour-category-body .right-items .category-item .category-name {
    font-size: var(--fs-xl);
}

.tour-category-body .right-items .category-item .desc {
    font-size: var(--fs-xs);
    line-height: 19px;
}


/* bottom */
.tour-category-body .right-items .bottom-items .category-item {
    height: 328px;
}

.tour-category-body .right-items .bottom-items .item-content .category-name {
    font-size: var(--fs-md);
}

.tour-category-body .right-items .bottom-items .item-content {
    padding: 0px 20px 12px 20px;
}

.tour-category-body .right-items .bottom-items .item-content .desc {
    font-size: 8px;
    width: 138px;
}

.tour-category-body .right-items .bottom-items .item-content .my-btn {
    font-size: var(--fs-xs);
    padding: 6px;
}

.tour-category-body .right-items .bottom-items .category-item .item-content {
    box-shadow: unset;
    border-radius: var(--radius-xxl);
    border: 2px solid #f5f5f5;
}

.popular-tour-cart img {
    transition: .26s ease;
}

.popular-tour-cart:hover img {
    transform: scale(1.032);
}






/*
=================================================
=====||   Trip Plan Section Start Here    ||=====
=================================================
*/
.trip-plan {
    margin-top: -60px;
}

.trip-plan .plan-items-wrapper {
    margin-top: -60px;
}

.trip-plan-area .section-sub-title {
    max-width: 586px;
}


.trip-plan-area .head .left {
    max-width: 658px;
}

.trip-plan-area .head .right {
    position: relative;
}

.trip-plan-area .head .img-area {
    position: relative;
}



.trip-plan-area .right .img-wrapper {
    position: relative;
    width: 100%;
}

.trip-plan-area .right .img-wrapper img {
    width: 100%;
}


.trip-plan-area .img-btn {
    position: relative;
    z-index: 1;
    height: 128px;
}

.trip-plan-area .btn-wrap {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.trip-plan-area .btn-wrap .my-btn {
    text-wrap: nowrap;
}


.plan-items-wrapper {
    display: flex;
    gap: 24px;
}

.plan-items-wrapper .left {
    width: 38%;
}

.plan-items-wrapper .tripSlider {
    float: 1;
}


/*
=====  Trip plan single item =====
*/
.plan-items-wrapper .item {
    height: 304px;
    position: relative;
    border-radius: var(--radius-xxl);
    overflow: hidden;
}

.plan-items-wrapper .left .item::after,
.plan-items-wrapper .right .item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(14, 14, 14, 0.4), rgba(14, 14, 14, 0.025));
}

.plan-items-wrapper .right .item::after {
    bottom: 0;
    top: unset;
    height: 50%;
    background: linear-gradient(to top,
            rgba(14, 14, 14, 0.85),
            rgba(14, 14, 14, 0.4) 25%,
            rgba(14, 14, 14, 0.3) 70%,
            rgba(14, 14, 14, 0.01)100%);
}

.plan-items-wrapper .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.plan-items-wrapper .item .content {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.plan-items-wrapper .item .content .best-seller {
    text-wrap: wrap;
    word-break: break-all;
    word-wrap: wrap;
    text-align: center;
    padding: 9px 10px;
    border-radius: var(--radius-md);
    background-color: var(--my-secondary-color);
    font-size: var(--fs-xs);
    color: var(--my-white);
    white-space: normal !important;
    display: inline-block;
    max-width: 55px;
}

.plan-items-wrapper .item .content .best-seller {
    text-align: center;
    padding: 9px 10px;
    border-radius: var(--radius-md);
    background-color: var(--my-secondary-color);
    font-size: var(--fs-xs);
    color: var(--my-white);

    /* fix wrapping */
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.plan-items-wrapper .item .content .tag {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 30px;
    width: 30px;
    border-radius: var(--radius-round);
    background-color: var(--my-white);
}

.plan-items-wrapper .item .content .text {
    line-height: var(--line-height-sm);
}

.plan-items-wrapper .item .title {
    line-height: var(--line-height-md);
    color: var(--my-white);
}

.plan-items-wrapper .item .content .tag:hover {
    background-color: var(--my-border-primary);
}

.plan-items-wrapper .item .my-btn .content {
    padding: 0;
}

.plan-items-wrapper .item .content .my-btn {
    padding: 10px 16px;
    border-radius: var(--radius-md);
}

.plan-items-wrapper .item {
    transition: transform 0.3s ease;
}

.plan-items-wrapper .item:hover {
    animation: sway 0.4s ease-in-out;
}

.trip-plan .btns-wrap {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.trip-plan .btns-wrap .my-btn {
    border-radius: 40px;
    font-size: var(--fs-lg);
    padding: 12px 18px;
}

.trip-plan .btns-wrap .my-btn .content {
    display: flex;
    align-items: center;
    gap: 6px;
}

.trip-plan .item .bottom {
    flex-direction: column;
    align-items: center;
}

.plan-items-wrapper .item .bottom {
    line-height: var(--line-height-md);
    color: var(--my-white);
}

.plan-items-wrapper .right .item {
    position: relative;
}

.plan-items-wrapper .right .item::after {
    bottom: 0;
    top: unset;
    height: 50%;
    background: linear-gradient(to top,
            rgba(14, 14, 14, 0.882),
            rgba(14, 14, 14, 0.4) 20%,
            rgba(14, 14, 14, 0.3) 60%,
            rgba(14, 14, 14, 0.01)100%);
}


.plan-items-wrapper .right .tag {
    display: none;
}



.swiper.other-common-slider .right-slider-arrows,
.swiper .right-slider-arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 98%;
    justify-content: space-between;
    z-index: 1;
}





/*
===========================================
=====||   Fa1 Section Start Here    ||=====
===========================================
*/
.faq-wrapper.section-main {
    padding-bottom: 36px;
}

.faq-wrapper .head {
    max-width: 504px;
    margin: 0 auto;
    text-align: center;
}

.faq-wrapper .head .section-title {
    line-height: var(--line-height-sm);
}

.faq-wrapper .faq-head-desc {
    font-size: var(--fs-lg);
    color: #535862;
}

.faq-wrapper .faq-area {
    max-width: 800px;
    margin: 0 auto;
}

.faq-area .faq-item .head {
    align-items: flex-start;
    justify-content: flex-start;
}


.faq-wrapper .head {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
}

.faq-wrapper .head h5 {
    font-size: var(--fs-xxl);
    font-weight: 600;
}


.faq-wrapper .faq-items .faq-item {
    max-width: 768px;
    padding: 12px;
    border-radius: var(--radius-xl);
}

.faq-wrapper .faq-items .faq-item:hover,
.faq-area .faq-item.active {
    background-color: #FC5A3126;
}








/*
================================================
=====||   Subcribe Section Start Here    ||=====
================================================
*/
.subcribe-sec .subcribe-area {
    background-color: var(--my-primary-color);
    border-radius: var(--radius-3xl);
    overflow: hidden;
}

.subcribe-sec .section-title,
.subcribe-sec .section-sub-title {
    color: var(--my-white);
}

.subcribe-form .subcribe-btn {
    background-color: var(--my-bg-yellow);
    align-items: stretch;
    padding: 14px 18px;
    border-radius: var(--radius-sm);
    width: fit-content;
}

.subcribe-form .subcribe-btn:hover {
    background-color: var(--my-text-rating);
}

/*
================||   Subcribe Left Side  ||================
*/
.subcribe-sec .left-side {
    padding: 155px 60px;
}

.subcribe-sec .left-side form input {
    border: none;
    padding: 16px;
    border-radius: var(--radius-md);
    max-width: 345px;
}

.subcribe-sec .left-side form input:focus {
    box-shadow: none;
}


/*
================||   Subcribe Right Side  ||================
*/
.subcribe-sec .right-side {
    position: relative;
}

/*==========  Notificaion  ===========*/
.subcribe-sec .right-side .notificaion {
    max-width: 320px;
    width: 320px;
    position: relative;
    z-index: 3;
    margin-top: 116px;
    margin-bottom: 40px;
}

.notificaion li:nth-child(3),
.notificaion li:nth-child(4) {
    opacity: .7;
}

.subcribe-sec .right-side .img-wrapper {
    height: 510px;
    position: absolute;
    top: 30px;
    left: 110px;
    right: 0;
    z-index: 2;
}

.subcribe-sec .right-side .img-wrapper img {
    height: 615px;
    width: 100%;
    object-fit: cover;
}

.subcribe-sec .my-secondary-btn:hover {
    background-color: var(--my-warring);
}