header .module-header-main .m-item {
    position: relative;
    white-space: nowrap;
}

header .module-header-main .m-item .content {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--my-text-secondary);
    font-weight: var(--fw-400);
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
    padding: 6px 8px;
    cursor: pointer;
    color: var(--my-border-secondary);
}


header .module-header-main .m-item .module-h-dropdwon {
    background-color: var(--my-white);
    padding: 12px;
    border-radius: var(--radius-md);
    box-shadow: var(--n-shadow-2);
    position: absolute;
    top: 60px;
    left: 0;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .24s ease;
    max-height: 500px;
    overflow-y: auto;
    padding: 12px;
}

header .module-header-main .m-item .module-h-dropdwon ul {
    border: 1px solid #FC5A314D;
    box-shadow: -4px 4px 8px 0px #0000001A;
    border-radius: var(--radius-md);
    overflow: hidden;
    gap: 0;
}

header .module-header-main .m-item:hover .module-h-dropdwon {
    top: 34px;
    opacity: 1;
    visibility: visible;
    z-index: 10;
    /* transform: scale(1);
    transform-origin: top; */
}

header .module-header-main .m-item .module-h-dropdwon .d-item {
    font-weight: 600;
    text-wrap: nowrap;
    word-wrap: nowrap;
    color: var(--my-secondary-color);
    font-size: var(--fs-sm);
    padding: 12px 20px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
    width: 100%;
}

/* When Hover */
header .module-header-main .m-item .module-h-dropdwon .d-item:hover,
header .module-header-main .m-item .module-h-dropdwon .d-item.active {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
}



/*
======================================
=====||   Hero 1 Start Here    ||=====
======================================
*/

.g-hero {
    margin-top: 32px;
}

.g-hero-area {
    width: 100%;
    height: 484px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.g-hero-banner-img img {
    border-radius: var(--radius-4xl);
    height: 100%;
    width: 100%;
    height: 400px;
}

.g-hero-img-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
}


.g-hero-img-wrap::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000040;
    z-index: 1;
    border-radius: 32px;
}

.g-hero .bottom-search {
    z-index: 2;
}


/*
========||   Bottom Search   ||========
*/
.g-hero-area .bottom-search {
    background-color: var(--my-white);
    position: absolute;
    bottom: 0px;
    width: 88%;
    left: 6%;
    height: 144px;
    border-radius: var(--radius-4xl);
    box-shadow: var(--shadow-md);
    border: 1px solid var(--my-white-off);
}


/*
======  Search Tabs   ======
*/
.g-hero-area .tab-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.g-hero-area .tab-wrapper {
    margin: 0 auto;
    background-color: var(--my-primary-color);
    border-radius: var(--radius-xxl);
    max-width: 953px;
    margin: 0 auto;
    margin-top: -22px;
    padding: 7px;
}

.g-hero-area .search-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-left: 4px;
    padding-right: 12px;
}

.g-hero-area .search-tabs::-webkit-scrollbar {
    display: none;
}


/*
===== Scroll Button  =====
*/
.g-hero-area .scroll-btn {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    background: var(--my-white-off);
    color: var(--my-primary-color);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 5;
}

.g-hero-area .scroll-btn:hover {
    background-color: var(--my-text-quaternary);
    color: var(--my-white);
}

.g-hero-area .scroll-btn i {
    font-size: var(--fs-md);
}

.g-hero-area .scroll-btn.left {
    left: 20px;
}

.g-hero-area .scroll-btn.right {
    right: 20px;
}

.g-hero-area .tab-wrapper::-webkit-scrollbar {
    display: none;
}


.g-hero-area .search-tabs .tab-btn {
    padding: 7px 16px;
    color: var(--my-white);
    font-size: 15px;
    font-weight: var(--fw-600);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.g-hero-area .search-tabs .tab-btn.active,
.g-hero-area .search-tabs .tab-btn:hover {
    background-color: var(--my-secondary-color);
}

/*
======  Search  Button  ======
*/
.form-wrap {
    margin-left: 0;
    margin-right: 0;
}

.g-hero-area .search-b {
    padding: 0 54px;
}

.search-group {
    display: none;
}

.search-group.active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding-left: 90px;
    padding-right: 32px;

}

.search-group .my-input-control {
    max-width: 100%;
    width: 100%;
    position: relative;
    background-color: var(--my-white);
    border: none;
    border-radius: none;
}

.search-group .my-input-control.date,
.search-group .my-input-control.where-to {
    position: relative;
    border-right: 1px solid #D5D7DA;
    padding: 0;
}



.search-group input:focus {
    outline: unset;
}

.search-group label {
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--my-text-secondary);
}



.search-group .big.my-input-control {
    max-width: 100%;
}

.search-group .my-input-control input,
search-group .my-input-control input::placeholder {
    border: none;
    padding: 0px 0px;
    border-radius: 0;
    color: #717680;
    font-weight: 400 !important;
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-top: 8px;
}

.search-group .my-input-control label {
    color: var(--my-text-secondary);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 6px;
}

.search-group .s-btn {
    height: 52px !important;
    width: 100%;
    border-radius: var(--radius-xxl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-group .s-btn .content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
======  Banner Video  ======
*/
.banner-video {
    position: relative;
    height: 400px;
    width: 100%;
}

.banner-video video {
    width: 100%;
    height: 400px;
    border-radius: var(--radius-3xl);
    object-fit: cover;
}


/*
  ============  Filter Header   ============
*/
.filter-sec .filter-head {
    padding: 30px 0;
}

.filter-head .click-dropdown {
    animation: unset;
    border-radius: var(--radius-sm);
    padding: 4px;
}

.click-dropdown .item {
    padding: 6px 12px;
}

.filter-header .click-dropdown-btn {
    padding: 5px 18px;
    border-radius: var(--radius-pill);
    font-size: var(--fs-lg);
    font-weight: 400 !important;
    border: 1px solid var(--my-border-color);
    line-height: var(--line-height-md);
    user-select: none;
    text-wrap: nowrap;
    width: fit-content;
}

.filter-sec .filter-head .filter-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    font-size: var(--fs-lg);
    line-height: var(--line-height-md);
    border: 1px solid var(--my-border-color);
    border-radius: var(--radius-pill);
    user-select: none;
}

.filter-sec .filter-head .filter-btn:hover {
    background-color: var(--my-secondary-color);
    color: var(--my-white);
}

.filter-sec .filter-head .filter-btn:hover svg path {
    stroke: var(--my-white);
}

.filter-sidebar .filter-item:last-child {
    border-bottom: none;
}




.tour-cart.package .cart-title {
    font-size: clamp(14px, 1.5vw, 24px);
    line-height: 1.3;
}



.package.tour-cart .visiable-content {
    padding: 20px 12px 10px 12px;
}



.pick-up-location {
    color: var(--my-rating);
    font-weight: 600;
}






.filter-sec .tab-contents {
    margin-top: 0;
}




/* Top Destnation Page Start */
.top-destnation-sec .section-head {
    max-width: 700px;
    text-align: left;
}



.top-destnation-sec .tab-btn {
    padding: 8px 14px;
    border-radius: 4px;
    border: 1px solid var(--my-border-primary);
    color: var(--my-secondary-color);
}

.sub-continental .section-head {
    text-align: left;
    max-width: 480px;
    margin: unset;
}

.sub-continental .section-head .section-title {
    text-align: left;
}

.sub-continental .section-head .section-sub-title {
    font-size: var(--fs-md);
    line-height: var(--line-height-sm);
}

.top-destnation-sec .search-input {
    max-width: 280px;
}


.top-destnation-sec .section-title,
.top-destnation-sec .section-sub-title {
    text-align: left;
}

.main-sec .section-head {
    margin: 0 auto;
    text-align: center;
}



.main-sec .section-title,
.main-sec .section-sub-title {
    text-align: center;
}

@media(max-width:1439px) {
    .filter-sec .event-cart .cart-content .title {
        /* font-size: var(--fs-md); */
    }

}



@media (max-width: 1080px) {
    .filter-sec .event-cart .cart-content .title {
        margin-top: 0px;
        font-size: var(--fs-md);
        line-height: var(--line-height-sm);
    }

    .filter-sec .pick-up-location {
        font-size: var(--fs-xs);
    }

    .filter-sec .event-cart .cart-content {
        padding: 4px;
    }

    .filter-sec .total-seats div {
        font-size: var(--fs-xs);
    }

    .filter-sec .event-cart .new-price {
        font-size: var(--fs-xl);
    }

    .tour-cart.package .cart-title {
        font-size: var(--fs-md);
        line-height: var(--line-height-sm);
    }

    .package.tour-cart .hover-content .cart-title {
        font-size: var(--fs-md);
    }

    .tour-cart .price .new-price {
        font-size: var(--fs-lg);
        line-height: var(--line-height-sm);
    }

    .tour-cart .price .old-price {
        font-size: var(--fs-low);
    }


    .tour-cart.package .hover-content {
        padding: 8px;
        padding-bottom: 12px
    }

    .tour-cart.package .rating div {
        font-size: 10px;
    }


}


/* MObile Responsive Start Here */
@media (max-width: 768px) {

    header .module-header-main .m-item {
        position: static;
    }

    .module-header-main {
        position: relative;
        background-color: var(--my-bg-secondary);
    }


    header .module-header-main .m-item:hover .module-h-dropdwon {
        padding: 12px 12px;
        width: fit-content;
        top: 48px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 300px;
        max-width: 300px;
        border-radius: var(--radius-xl);
        z-index: 7;
        overflow-x: hidden;
    }

    header .header-main .module-header-main-wrap {
        gap: 12px !important;
    }

    header .module-header-main .m-item .content {
        font-size: var(--fs-sm);
        padding: 6px 8px;
        cursor: pointer;
        color: var(--my-primary-color);
        font-weight: 600;
    }

    header .module-header-main .m-item .module-h-dropdwon .d-item {
        padding: 12px 12px;
        font-size: var(--fs-xs);
    }


    .search-menu-wrapper {
        padding: 0px 0;
    }

    header .m-search-menu .left-icon svg {
        position: absolute;
        left: -60px;
        top: 40px;
        z-index: 1;
        transform: rotate(4deg);
    }

    header .m-search-menu .right-icon {
        overflow: hidden;
    }

    header .m-search-menu .right-icon svg {
        position: absolute;
        right: 12px;
        top: 40px;
        z-index: 1;
        transform: rotate(6deg);
    }

    /* m-search-menu-wrapper */
    .m-search-menu-wrapper .top-grid {
        display: grid;
        grid-template-columns: 1fr 24px 1fr;
    }

    .m-search-menu-wrapper .bottom-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .m-search-menu-wrapper .swap-btn-wrap {
        position: relative;
    }

    .m-search-menu-wrapper .swap-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #00000080;
        background-color: var(--my-white);
        position: absolute;
        left: -3px;
        top: 3px;
        z-index: 2;
    }

    header .m-search-menu {
        overflow: unset;
        position: relative;
    }

    /* .m-search-menu-wrapper .search-fields .input-item,
    .m-search-menu-wrapper .search-fields .search-button {
        position: relative;
    }

    .m-search-menu-wrapper .search-fields .input-item input {
        border: .5px solid #00000080;
        background-color: var(--my-white);
        border-radius: 4px;
        width: 100%;
        font-size: var(--fs-low);
        padding: 10px 12px;
    }

    .m-search-menu-wrapper .search-fields .text-icon {
        position: absolute;
        font-size: 8px;
        left: 12px;
        top: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--my-text-primary);
    }

    .m-search-menu-wrapper .search-fields .search-button {
        background-color: var(--my-primary-color);
        border-radius: 4px;
        border: 1px solid #00000080;
        position: relative;
        font-size: 8px;
        text-align: left;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 6px;
        width: 100%;
    }

    .m-search-menu-wrapper .search-fields .search-button .content {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: center;
        font-size: var(--fs-low);
    }

    .m-search-menu-wrapper .checkbox-input {
        font-size: var(--fs-xs);
        color: var(--my-text-primary);
    }

    .m-search-menu-wrapper .checkbox-input input {
        border: 1px solid #00000080;
        border-radius: 2px;
    }

    .m-search-menu-wrapper input[type="checkbox"],
    .m-search-menu-wrapper input[type="radio"] {
        width: 12px;
        height: 12px;
        border-color: var(--my-secondary-color);
    }

    .m-search-menu-wrapper input[type="checkbox"]:checked::after {
        font-size: 10px;
    } */


    /* tourcart package */
    .tour-cart.package .hover-content .cart-title {
        font-size: clamp(12px, 2.2vw, 18px);
        margin-top: 4px;
        line-height: 1.3;
    }

    .tour-cart.package .cart-title {
        font-size: clamp(14px, 2.2vw, 18px);
        line-height: 1.4;
    }

    .tour-cart .price .new-price {
        font-size: 12px;
        line-height: 16px;
    }

    .package.tour-cart .visiable-content {
        padding: 6px 6px;
        padding-top: 20px;
    }

    .filter-sec .filter-head .filter-btn {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        gap: 8px;
        font-size: var(--fs-sm);
    }

    .filter-sec .filter-head .filter-btn svg {
        width: 16px;
        height: 16px
    }


    /* event card */
    .filter-sec .event-cart {
        min-height: 220px;
        max-height: 490px;
    }

    .event-cart .btns-wrap {
        margin-top: 8px;
    }

    .filter-sec .event-cart .cart-content {
        padding: 4px;
    }

    .filter-sec .event-cart .cart-content .title {
        margin-top: 0px;
        font-size: 10px;
    }

    .filter-sec .event-cart .cart-content .sub-title {
        font-size: 8px;
    }

    .filter-sec .event-cart .cart-btn {
        font-size: 8px;
        padding: 0px 12px;
    }

    .trending-wrap {
        margin-top: 60px;
        padding-top: 20px;
    }

    .tour-cart.package {
        height: 100%;
        min-height: 290px;
    }

    .filter-sec-wrap {
        padding-bottom: 20px;
    }
}