header .module-header-main .m-item {
    position: relative;
}

header .module-header-main .m-item .content {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--my-text-secondary);
    font-weight: var(--fw-600);
    font-size: var(--fs-md);
    line-height: var(--line-height-md);
    padding: 6px 8px;
    cursor: pointer;
}


header .module-header-main .m-item .module-h-dropdwon {
    background-color: var(--my-white);
    padding: 12px;
    border-radius: var(--radius-md);
    box-shadow: var(--n-shadow-2);
    position: absolute;
    top: 60px;
    left: 0;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .24s ease;
    max-height: 500px;
    overflow-y: auto;
    /* transform: scale(0); */
}

header .module-header-main .m-item:hover .module-h-dropdwon {
    top: 34px;
    opacity: 1;
    visibility: visible;
    z-index: 2;
    /* transform: scale(1);
    transform-origin: top; */
}

header .module-header-main .m-item .module-h-dropdwon .d-item {
    padding: 6px 0px;
    /* border-bottom: 1px solid #f3f3f3; */
    width: 100%;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: var(--my-text-secondary);
    text-wrap: nowrap;
    word-wrap: nowrap;
}

/* When Hover */
header .module-header-main .m-item .module-h-dropdwon .d-item:hover {
    color: var(--my-secondary-color);
}




/*
======================================
=====||   Hero 1 Start Here    ||=====
======================================
*/

.g-hero {
    margin-top: 32px;
}

.g-hero-area {
    width: 100%;
    height: 484px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.g-hero-banner-img img {
    border-radius: var(--radius-4xl);
    height: 100%;
    width: 100%;
    height: 400px;
}

.g-hero-img-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
}


.g-hero-img-wrap::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000040;
    z-index: 1;
    border-radius: 32px;
}

.g-hero .bottom-search {
    z-index: 2;
}

.g-hero .video-play-btn {
    background-color: #FFFFFF66;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    animation: pulse 2s infinite ease-out;
    transition: .4s linear;
}

.g-hero .video-play-btn:hover {
    background-color: var(--my-primary-color);
    opacity: .8;
}


/*
========||   Bottom Search   ||========
*/
.g-hero-area .bottom-search {
    background-color: var(--my-white);
    position: absolute;
    bottom: 0px;
    width: 88%;
    left: 6%;
    height: 144px;
    border-radius: var(--radius-4xl);
    box-shadow: var(--shadow-md);
    border: 1px solid var(--my-white-off);
}


/*
======  Search Tabs   ======
*/
.g-hero-area .tab-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.g-hero-area .tab-wrapper {
    margin: 0 auto;
    background-color: var(--my-primary-color);
    border-radius: var(--radius-xxl);
    max-width: 953px;
    margin: 0 auto;
    margin-top: -22px;
    padding: 7px;
}

.g-hero-area .search-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-left: 4px;
    padding-right: 12px;
}

.g-hero-area .search-tabs::-webkit-scrollbar {
    display: none;
}


/*
===== Scroll Button  =====
*/
.g-hero-area .scroll-btn {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    background: var(--my-white-off);
    color: var(--my-primary-color);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 5;
}

.g-hero-area .scroll-btn:hover {
    background-color: var(--my-text-quaternary);
    color: var(--my-white);
}

.g-hero-area .scroll-btn i {
    font-size: var(--fs-md);
}

.g-hero-area .scroll-btn.left {
    left: 20px;
}

.g-hero-area .scroll-btn.right {
    right: 20px;
}

.g-hero-area .tab-wrapper::-webkit-scrollbar {
    display: none;
}


.g-hero-area .search-tabs .tab-btn {
    padding: 7px 16px;
    color: var(--my-white);
    font-size: 15px;
    font-weight: var(--fw-600);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.g-hero-area .search-tabs .tab-btn.active,
.g-hero-area .search-tabs .tab-btn:hover {
    background-color: var(--my-secondary-color);
}

/*
======  Search  Button  ======
*/
.form-wrap {
    margin-left: 0;
    margin-right: 0;
}

.g-hero-area .search-b {
    padding: 0 54px;
}

.search-group {
    display: none;
}

.search-group.active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding-left: 90px;
    padding-right: 32px;

}

.search-group .my-input-control {
    max-width: 100%;
    width: 100%;
    position: relative;
    background-color: var(--my-white);
    border: none;
    border-radius: none;
}

.search-group .my-input-control.date,
.search-group .my-input-control.where-to {
    position: relative;
    border-right: 1px solid #D5D7DA;
    padding: 0;
}



.search-group input:focus {
    outline: unset;
}

.search-group label {
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--my-text-secondary);
}



.search-group .big.my-input-control {
    max-width: 100%;
}

.search-group .my-input-control input,
search-group .my-input-control input::placeholder {
    border: none;
    padding: 0px 0px;
    border-radius: 0;
    color: #717680;
    font-weight: 400 !important;
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-top: 8px;
}

.search-group .my-input-control label {
    color: var(--my-text-secondary);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 6px;
}

.search-group .s-btn {
    height: 52px !important;
    width: 100%;
    border-radius: var(--radius-xxl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-group .s-btn .content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
======  Banner Video  ======
*/
.banner-video {
    position: relative;
    height: 400px;
    width: 100%;
}

.banner-video video {
    width: 100%;
    height: 400px;
    border-radius: var(--radius-3xl);
    object-fit: cover;
}