/*========  Filter Head  =======*/
.filter-header .click-dropdown {
    border: 1px solid var(--my-border-secondary);
    padding: 4px;
    border-radius: var(--radius-md);
    max-width: fit-content;
    width: fit-content;
    animation: slidseUp .1s ease-out;
}

.filter-header .click-dropdown .item {
    font-size: var(--fs-xs);
    padding: 6px 12px;
    border-radius: var(--radius-sm);
    margin-bottom: 2px;
    text-wrap: nowrap;
    color: var(--my-text-quaternary);
}

.filter-header .click-dropdown .item.active {
    color: var(--my-text-secondary);
}


.filter-header .click-dropdown-btn {
    user-select: none;
}

.filter-header .click-dropdown.active {
    top: 42px;
    left: 0;
}

.filter-header .search-input {
    max-width: 320px;
}

.booking .tab-contents {
    margin-top: 0px;
}


.booking .feedback-btn {
    color: var(--my-text-secondary);
    font-size: 13px;

}