/*
=======================================
=====||   Header  Start Here    ||=====
=======================================
*/

.dasboard-container {
    max-width: 100%;
    margin: 0 auto;
    /* width: calc(100% - 70px); */
    width: 83.33%;
    min-height: 100%;
}

.dasboard-container-wrapper {
    margin-top: 125px;
    width: 100%;
    min-height: 100%;
}


header {
    position: fixed;
    left: 0;
    right: 0;
    padding-bottom: 0;
    box-shadow: var(--shadow-3);
    z-index: 3;
    padding: 0;
}

header .header-main {
    border-bottom: 1px solid var(--my-white-off);
}



header .header-top {
    border-bottom: 1px solid var(--my-border-gray);
    padding-top: 2px;
    position: relative;
}

header .header-main {
    margin-top: 6px;
    padding-bottom: 6px;
}

.main-content-header {
    padding-right: 0;
}

.main-content-header .my-secondary-btn {
    font-size: var(--fs-sm);
    padding: 11px 14px;
}

header .header-main .my-gap-14 {
    gap: 20px;
}


header .click-dropdown-parent .click-dropdown {
    top: 65px;
}



/*
=======================================
=====||   Sidebar Start Here    ||=====
=======================================
*/
.sidebar-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--my-secondary-color);
    z-index: 4;
}

.m-sidebar-close.sidebar-close-btn {
    padding: 12px;
}

aside.sidebar {
    flex-basis: 20%;
    width: 20%;
    background-color: var(--my-primary-color);
    color: var(--my-white);
    display: flex;
    /* top: 125px; */
    flex-direction: column;
    z-index: 2;
    box-shadow: var(--shadow-lg);
    transition: .3s linear;
    position: relative;
    min-height: 100dvh;
    /* border-right: 8px solid var(--my-white); */
}

.aside-wrapper {
    /* position: sticky; */
    /* top: 125px; */
    /* height: calc(100dvh - 125px); */
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Active Class */
aside.sidebar.active {
    flex-basis: 90px;
    width: 90px;
}

aside.sidebar.active #misc-nav-heading {
    font-size: 8px;
}

aside.active .top .content {
    display: none;
}

aside .top {
    background-image: url('/static/images/shape-png.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

aside.active .top {
    padding-top: 66px;
}

aside.active .bottom .item {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--my-text-tertiary);
    margin-bottom: 4px !important;
}

aside.active .bottom .item span {
    display: none;
}



/*
=========||  Sidebar Top  Start Here  ||===========
*/
.sidebar .top {
    height: fit-content;
    flex-shrink: 0;
    padding-bottom: 16px;
}

.sidebar .top img {
    border: 5px solid var(--my-text-tertiary);
    padding: 2px;
    width: 68px;
    height: 68px;
}

.sidebar .top .wrap {
    position: relative;
}

/* animation */
.sidebar .top .wrap::after {
    position: absolute;
    content: '';
    bottom: 7px;
    right: 7px;
    width: 8px;
    height: 8px;
    border-radius: var(--radius-round);
    background-color: var(--my-success);
    position: absolute;
    z-index: 222;
    border: 2px solid var(--my-white-off2);
    animation: pulse 1.3s infinite ease-in-out;
}

.sidebar .top .star {
    margin-top: -6px;
}

.sidebar .top .star i {
    font-size: var(--fs-sm);
    color: var(--my-text-rating);
}



/*
=========||  Sidebar Bottom  Start Here  ||===========
*/
aside .bottom {
    overflow-y: auto;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 1px solid var(--my-text-tertiary);
    padding-top: 4px;
}


/*
======||  General Nav Start Here  ||=======
*/
.sidebar .bottom .general-nav {
    padding: 0 12px;
    padding-bottom: 8px;
}

.sidebar .bottom nav .item {
    display: flex;
    padding: 10px 12px;
    color: var(--my-white);
    text-decoration: none;
    margin-bottom: 0px;
    border-radius: 6px;
    font-size: var(--fs-md);
    /* font-size: var(--fs-sm); */
    gap: 8px;
}

.sidebar .bottom nav .item:hover svg {
    animation: shakeLR 1s ease;
}

.sidebar .bottom nav .item:hover,
.sidebar .bottom nav .item.active {
    background-color: var(--my-secondary-color);
}

.switch-to-host {
    background-color: var(--my-primary-color);
}

.switch-to-host:hover {
    background-color: var(--my-secondary-color);
}

.switch-to-host:hover path {
    animation: shakeLR 1s ease;
}


/*
======|| Miscellaneous  Start Here  ||=======
*/

.sidebar .bottom .miscellaneous-nav .item {
    font-size: var(--fs-md);
}

.sidebar .bottom .miscellaneous-nav {
    border-top: 1px solid var(--my-text-tertiary);
    border-bottom: 1px solid var(--my-text-tertiary);
    padding: 8px 12px 8px 12px;
}

.sidebar .bottom.my-has-scrollbar-sm::-webkit-scrollbar {
    background-color: var(--my-primary-color);
    background-color: var(--my-white);
    width: 10px;
    height: 10px;
    background-color: var(--my-white);
}


.sidebar .bottom.my-has-scrollbar-sm::-webkit-scrollbar-thumb {
    background-color: var(--my-primary-color);
    background-color: var(--my-gray);
    border-left: 1px solid var(--my-white);
    border-top: 1px solid var(--my-white);
}




/* ads-video */
aside .ads-video {
    padding: 0;
    background-color: unset;
    box-shadow: var(--shadow-all-lg);
    border: none;
    margin-top: 20px;
}

aside .ads-video .video-slider-wrap {
    position: relative;
}

aside .ads-video video {
    border-radius: var(--radius-md);
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.ads-video .video-list {
    position: relative;
    height: 180px;
}

.ads-video .ads-item {
    display: none;
}


.ads-video .ads-item.active {
    display: block;
}

.ads-video video {
    border-radius: var(--radius-md);
    width: 100%;
    height: 200px;
    object-fit: cover;
}

aside .ads-video .btn-wrap {
    width: 100%;
}

aside .ads-video .btn-wrap .item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--fs-lg);
    box-shadow: var(--shadow-md);
}



aside .ads-video .btn-wrap .mute-btn {
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.55);
    width: 40px;
    height: 40px;
    color: var(--my-text-primary);
}

aside .ads-video .btn-wrap .mute-btn i {
    animation: pulse 1s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

aside .ads-video .btn-wrap .mute-btn:hover i {
    animation: unset;
}

aside .ads-video .btn-wrap .full-screen-btn {
    top: 8px;
    right: 8px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.722);
    border-radius: 4px;
    position: absolute;
}

aside .ads-video .btn-wrap .bottom-btns {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 8px;
    background-color: rgb(47, 54, 61);
    z-index: 2;
}

aside .ads-video .btn-wrap .bottom-btns .play-btn {
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
}

aside .ads-video .btn-wrap .bottom-btns .next-btn,
aside .ads-video .btn-wrap .bottom-btns .prev-btn {
    position: absolute;
    right: 8px;
    font-size: var(--fs-lg);
    bottom: -4px;
}

aside .ads-video .btn-wrap .bottom-btns .prev-btn {
    right: unset;
    left: 8px;
}

aside .ads-video .btn-wrap .bottom-btns .item {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.722);
    width: 36px;
    height: 36px;
    color: var(--my-text-primary);
}

/* aside .ads-video .btn-wrap .bottom-btns .item.prev-btn {
    left: 0;
}

aside .ads-video .btn-wrap .bottom-btns .item.next-btn {
    right: 60px;
} */

aside.active .ads-video .btn-wrap {
    display: block;
}

aside.active .video-slider-wrap:hover .btn-wrap {
    display: none;
}

/* ads-modal  */
.ads-modal .my-video {
    width: 500px;
    min-height: 400px;
}

.ads-modal .my-video video {
    width: 100%;
    min-width: 100%;
    height: 290px;
}

aside .ads-video .video-slider-wrap:hover .btn-wrap {
    display: block;
}

aside.active .ads-video .video-slider-wrap .btn-wrap {
    display: none;
}

aside .ads-video .video-slider-wrap .video-play {
    display: none;
}

aside.active .ads-video .video-slider-wrap .video-play {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.722);
    width: 36px;
    height: 36px;
    color: var(--my-text-primary);
}

aside.active .ads-video .video-slider-wrap:hover .video-play {
    display: block;
}

/*
============================================
=====||   Main Content Start Here    ||=====
============================================
*/
main {
    background-color: var(--my-white-off);
    /* margin-top: 125px; */
    border-left: 1px solid var(--my-white-off);
    transition: .3s linear;
    z-index: 2;
    flex-basis: calc(100% - 20%);
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

/* Active Class */
main.active {
    flex-basis: calc(100% - 90px);
}

main.my-has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--my-gray);
}


/*
========================||    Total Point Seciton  Start Here   ||==========================
*/

.total-points {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.progress-ring {
    transform: rotate(-90deg);
}

.points .items .item {
    transition: .2s linear;
    position: relative;
    overflow: hidden;
    padding: 32px 4px;
    max-width: 100%;
}

/*  */
.points .items .item::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    width: 12px;
    height: 10px;
    z-index: 2;
    background-color: var(--my-primary-color);
    transition: .2s linear;
}

.points .items .item:hover::after {
    right: 0;
    transition: .2s linear;
}

.points .items .item:hover {
    border-radius: 12px;
}

circle {
    fill: none;
    stroke-width: 9;
}

.bg {
    stroke: var(--my-white-off);
}

.progress {
    stroke-linecap: round;
    stroke-dasharray: 490;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 1s ease;
}

/* Individual colors */
.red {
    stroke: var(--my-red);
}

.green {
    stroke: var(--my-primary-color);
}

.purple {
    stroke: var(--my-blue);
}

/* Total Point Text */
.points-text {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
}

.points-text .text {
    font-size: 10px;
}

.circle-chart {
    position: relative;
    width: 340px;
    /* same as canvas max-width */
    height: 340px;
    /* same as canvas max-height */
}

.total-trips-text {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle-chart .complete {
    position: absolute;
    bottom: 20px;
    left: 4px;
    font-size: var(--fs-xs);
}






/*
========================||    Total Point Seciton  Start Here   ||==========================
*/

.booking-upcoming {
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr;
    grid-template-columns: .7fr 1.2fr .8fr;
    gap: 16px;
}



/*
============||    Booking Status   ||=============
*/
.booking-status .item {
    width: 124%;
    background-color: var(--my-white);
    margin-left: -12%;
    border-color: var(--my-border-secondary);
    transition: transform .12s linear;
}

.booking-status .item:hover {
    transform: translateY(-4px);
}

.booking-status .paymant-status span {
    position: relative;
}

.booking-status .paymant-status .round {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--my-success);
}




/*
============||    Upcoming Trips   ||=============
*/
.upcoming-trips .items .item,
.save-list .items .item {
    transition: .12s ease-in-out;
}

.upcoming-trips .items .item:hover,
.save-list .items .item:hover {
    transform: translateY(4px);
}

.invite-wishlist .invite-friend-area {
    height: 64%;
}

.invite-wishlist .currency-converter-area {
    height: calc(36% - 16px);
}

.invite-wishlist .copy-btn:hover svg path {
    stroke: var(--my-secondary-color);
}




@media (max-width:1400px) {
    aside {
        flex-basis: 20%;
        border-right: 0;
    }



    .booking-upcoming {
        grid-template-columns: 270px 1fr 300px;
    }

    .points .total-points .progress-ring {
        width: 220px;
        height: 220px;
    }

}




@media (max-width:1080px) {
    .dasboard-container {
        width: 100%;
    }

    .main-content-header {
        padding-right: 20px;
    }

    aside.sidebar {
        flex-basis: 29%;
        width: 29%;
        background-color: var(--my-primary-color);
        color: var(--my-white);
        display: flex;
        /* top: 125px; */
        flex-direction: column;
        z-index: 2;
        box-shadow: var(--shadow-lg);
        transition: .3s linear;
        position: relative;
        min-height: 100dvh;
        /* border-right: 8px solid var(--my-white); */
    }



    .total-points {
        width: 25%;
    }

    .points .items .item {
        padding: 12px 4px;
    }
}


@media (max-width:1280px) {

    .total-trips-text {
        position: absolute;
        top: 51%;
        left: 32%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .dasboard-container {
        width: 100%;
        padding: 0;
    }

    .top .content .my-fs-xl {
        font-size: 16px;
    }

    .points .my-grid-6 {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-content-header {
        padding-right: 16px;
    }

    .booking-upcoming {
        grid-template-columns: 30% 30% 36%;
    }

    .upcoming-trips .item {
        /* flex-direction: column; */
    }

    .total-points {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upcoming-trips .item {
        padding: 12px;
    }

    /* .upcoming-trips .item .flex-shring-no {
        width: 100%;
    }

    .upcoming-trips .item .flex-shring-no img {
        width: 100%;
    }

    .chart .right {
        flex: 1;
    } */

    .chart .right #barChart {
        height: 100% !important;
        max-height: 100% !important;
    }



    .invite-wishlist {
        grid-template-columns: 1fr;
    }


}

@media (max-width:991px) {}





/*
=========||  Mobile  Start Here  ||===========
*/
@media (max-width:769px) {
    header .header-main {
        border-bottom: 0px solid var(--my-white-off);
    }


    .m-sidebar-close.sidebar-close-btn {
        padding: 12px !important;
    }

    .common-dropdown-1 {
        max-width: 100%;
        width: 100%;
    }

    .circle-chart {
        position: relative;
        /* width: 340px; */
        /* height: 340px; */
        width: 300px;
        height: 316px;
    }

    #donutChart {
        max-height: unset;
        max-width: unset;
        max-height: 320px;
        display: block;
        box-sizing: border-box;
        height: unset !important;
        width: unset !important;
        max-width: 270px !important;
    }

    #barChart {
        max-width: 100%;
        max-height: 300px;
        display: block;
        box-sizing: border-box;
        height: 171px;
        width: 341px;
        width: 100%;
    }

    .circle-chart .complete {
        position: absolute;
        bottom: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chart .right {
        margin-top: -30px;
    }

    .dasboard-container-wrapper {
        display: unset;
    }


    /* Sidebar */
    aside.sidebar {
        position: fixed;
        top: 0;
        width: 294px;
        z-index: 4;
        height: 100dvh;
        transition: .3s linear;
        left: -100%;
    }

    aside.sidebar.m-active {
        left: 0px;
    }

    main {
        width: 100%;
        flex-basis: unset;
        margin-top: 125px;
        background-color: var(--my-white);
        padding: 0;
    }


    /* radius */
    .section-card {
        border-radius: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    /* Main content header */
    .main-content-header {
        padding: 0;
        padding-bottom: 16px;
    }

    .main-content-header .left {
        display: none;
    }

    .main-content-header .right {
        justify-content: space-between;
        width: 100%;
    }

    .main-content-header .switch-to-host,
    .main-content-header .icon-hover {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .main-content-header .switch-to-host svg {
        transform: scale(1.4);
    }

    .main-content-header {
        padding: 16px;
        padding-top: 0;
    }

    .main-content-header .switch-to-host .text {
        display: none;
    }

    .main-content-header .time {
        padding: 10px;
        border-radius: var(--radius-md);
    }

    .main-content-header .time svg {
        width: 16px;
    }

    .main-content-header time {
        font-size: var(--fs-xs);
    }



    /*Total Points */
    .points-sec {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .points-text .text {
        font-size: var(--fs-sm);
        font-weight: 600;
        color: var(--my-text-tertiary);
    }

    .points-sec .total-points {
        width: 90%;
        margin: 0 auto;
    }

    .points-sec .total-points {
        flex-basis: 100%;
    }

    .points-sec .items {
        flex-basis: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .points .items .item {
        padding: 16px 4px;
        border-radius: var(--radius-xl);
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }


    /* Total Trips */
    .total-trips {
        margin: 0;
        padding: 16px;
    }

    .total-trips .circle-chart {
        margin: 0 auto;
        margin-top: -50px;
    }

    .total-trips .complete {
        /* width: 100%; */
        margin-top: -12px;
    }




    /* Upcomming Trips */
    .upcoming-trips {
        padding: 16px;
        border-top: 1px solid var(--my-border-secondary);
        border-bottom: 1px solid var(--my-border-secondary);
        border-radius: unset;
    }

    .upcoming-trips .items .item {
        align-items: start;
        padding: 16px;
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }

    .upcoming-trips .items .item .title {
        font-size: var(--fs-sm);
    }

    .upcoming-trips .my-btn-sm,
    .save-list .my-btn-sm {
        padding: 8px;
        border-radius: var(--radius-md);
    }



    /* Booking Section */
    .booking-upcoming {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .booking-status {
        margin-left: 0;
        margin-right: 0;
        padding: 16px;
    }

    .booking-status .item {
        margin-left: 0;
        width: 100%;
        transition: transform .12s linear;
        /* padding: 10px 12px; */
    }

    .booking-status .item .title {
        font-size: var(--fs-lg);
        font-weight: 600;
    }


    /* invite-wishlist */
    .invite-wishlist {
        grid-template-columns: 1fr;
    }

    .invite-wishlist .invite-friend-area {
        height: fit-content;
    }

    .currency-converter-box {
        flex-direction: column;
        align-items: start;
    }

    .currency-converter-box .compare-btn {
        transform: rotate(90deg);
    }

    .invite-wishlist .currency-converter-area {
        height: fit-content;
    }

    /* save-list */
    .save-list .items .item {
        padding: 16px;
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }


    /* right */
    .chart .right {
        overflow-x: auto;
        height: 210px;
    }

    .chart #barChart {
        /* height: 340px !important; */
        /* width: 740px !important; */
        max-width: unset !important;
        max-height: unset !important;
        width: 100%;
    }

    .total-trips-text h5 {
        font-size: var(--fs-sm);
    }

    .total-trips-text h4 {
        color: var(--my-text-primary);
        font-size: var(--fs-xl);
    }

    /* booking-status-head */
    .booking-status-head {
        font-size: var(--fs-md);
        line-height: 38px;
    }

    .booking-status .items .item {
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }



    .calendar .date {
        padding: 16px 4px;
    }


    .calendar .calendar-footer {
        gap: 16px;
        margin-top: 0;
        gap: 16px;
        padding-bottom: 16px;
    }

    .dates-grid {
        gap: 12px;
    }

    .calendar .calendar-footer button {
        line-height: 20px;
        padding: 12px;
    }

    .invite-friend-area {
        border-top: 1px solid var(--my-border-secondary);
        border-bottom: 1px solid var(--my-border-secondary);
    }

    .invite-friend-area .head {
        line-height: 30px;
    }

    .invite-friend-area .item {
        padding: 24px;
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }

    .invite-friend-area .item .title {
        font-size: var(--fs-md);
    }

    .invite-friend-area .copy-link {
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }

    /* copy-link-wrapper */
    .copy-link-wrapper .head {
        font-size: var(--fs-md);
    }

    .currency-converter-area {
        margin: 0;
        border-bottom: 1px solid var(--my-border-secondary);
    }

    .currency-converter-area .common-dropdown-1 label {
        font-weight: 500;
        font-size: var(--fs-sm);
    }

    /* filter-header */
    .filter-header {
        margin: 0;
        padding: 32px 0;
        padding-bottom: 0px;
    }

    .filter-header .search-input,
    .filter-header .reset-btn {
        display: none;
    }

    .filter-header .reset-btn-m,
    .filter-header .search-input-m {
        display: flex;
    }

    .tab1-btns {
        flex-wrap: nowrap;
    }

    .common-table-1-wrapper {
        overflow-x: auto;
    }





    .pagination {
        padding: 0;
        padding-top: 16px;
    }

    .pagination .pages.my-d-flex {
        /* display: none !important; */
    }
}


@media (max-width:480px) {

    .calendar .date {
        padding: 12px 4px;
    }

    .dates-grid {
        gap: 0px !important;
    }

}