/*
=======================================
=====||   Header  Start Here    ||=====
=======================================
*/
body {
    max-width: 1920px;
    margin: 0 auto;
    /* height: 100%; */
    position: relative;
    overflow: hidden;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 0;
    box-shadow: var(--shadow-3);
    border: 1px solid var(--my-white-off);
    z-index: 3;
    max-width: 1920px;
    margin: 0 auto;
}

header .header-top {
    border-bottom: 1px solid var(--my-border-gray);
    padding-top: 2px;
    position: relative;
}

header .header-main {
    margin-top: 6px;
    padding-bottom: 6px;
}

.main-content-header .my-secondary-btn {
    font-size: var(--fs-md);
    padding: 11px 14px;
}

header .header-main .my-gap-14 {
    gap: 20px;
}


header .click-dropdown-parent .click-dropdown {
    top: 65px;
}



/*
=======================================
=====||   Sidebar Start Here    ||=====
=======================================
*/
.sidebar-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--my-secondary-color);
    z-index: 4;
}

aside.sidebar {
    width: 300px;
    background-color: var(--my-primary-color);
    color: var(--my-white);
    position: fixed;
    left: 0;
    top: 125px;
    height: calc(100dvh - 125px);
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-shadow: var(--shadow-lg);
    transition: .2s linear;
    position: sticky;
}


/* Active Class */
aside.sidebar.active {
    width: 90px;
}

aside.sidebar.active #misc-nav-heading {
    font-size: 9px;
}

aside.active .top .content {
    display: none;
}

aside .top {
    background-image: url('/static/images/shape-png.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

aside.active .top {
    padding-top: 66px;
}

aside.active .bottom .item {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--my-text-tertiary);
    margin-bottom: 4px !important;
}

aside.active .bottom .item span {
    display: none;
}



/*
=========||  Sidebar Top  Start Here  ||===========
*/
.sidebar .top {
    height: fit-content;
    flex-shrink: 0;
    padding-bottom: 16px;
}

.sidebar .top img {
    border: 5px solid var(--my-text-tertiary);
    padding: 2px;
    width: 68px;
    height: 68px;
}

.sidebar .top .wrap {
    position: relative;
}

/* animation */
.sidebar .top .wrap::after {
    position: absolute;
    content: '';
    bottom: 7px;
    right: 7px;
    width: 8px;
    height: 8px;
    border-radius: var(--radius-round);
    background-color: var(--my-success);
    position: absolute;
    z-index: 222;
    border: 2px solid var(--my-white-off2);
    animation: pulse 1.3s infinite ease-in-out;
}

.sidebar .top .star {
    margin-top: -6px;
}

.sidebar .top .star i {
    font-size: var(--fs-sm);
    color: var(--my-text-rating);
}



/*
=========||  Sidebar Bottom  Start Here  ||===========
*/
aside .bottom {
    overflow-y: auto;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 1px solid var(--my-text-tertiary);
    padding-top: 4px;
}


/*
======||  General Nav Start Here  ||=======
*/
.sidebar .bottom .general-nav {
    padding: 0 12px;
    padding-bottom: 8px;
}

.sidebar .bottom nav .item {
    display: flex;
    padding: 10px 12px;
    color: var(--my-white);
    text-decoration: none;
    margin-bottom: 0px;
    border-radius: 6px;
    font-size: var(--fs-md);
    /* font-size: var(--fs-sm); */
    gap: 8px;
}

.sidebar .bottom nav .item:hover svg {
    animation: shakeLR 1s ease;
}

.sidebar .bottom nav .item:hover,
.sidebar .bottom nav .item.active {
    background-color: var(--my-secondary-color);
}

.switch-to-host {
    background-color: var(--my-primary-color);
}

.switch-to-host:hover {
    background-color: var(--my-secondary-color);
}

.switch-to-host:hover path {
    animation: shakeLR 1s ease;
}


/*
======|| Miscellaneous  Start Here  ||=======
*/

.sidebar .bottom .miscellaneous-nav .item {
    font-size: var(--fs-sm);
}

.sidebar .bottom .miscellaneous-nav {
    border-top: 1px solid var(--my-text-tertiary);
    border-bottom: 1px solid var(--my-text-tertiary);
    padding: 8px 12px 8px 12px;
}

.sidebar .bottom.my-has-scrollbar-sm::-webkit-scrollbar {
    background-color: var(--my-primary-color);
    background-color: var(--my-white);
    width: 10px;
    height: 10px;
    background-color: var(--my-white);
}


.sidebar .bottom.my-has-scrollbar-sm::-webkit-scrollbar-thumb {
    background-color: var(--my-primary-color);
    background-color: var(--my-gray);
    border-left: 1px solid var(--my-white);
    border-top: 1px solid var(--my-white);
}




/* ads-video */
aside .ads-video .video-slider-wrap {
    position: relative;
}

aside .ads-video video {
    border-radius: var(--radius-md);
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.ads-video .video-list {
    position: relative;
    height: 180px;
}

.ads-video .ads-item {
    display: none;
}


.ads-video .ads-item.active {
    display: block;
}

.ads-video video {
    border-radius: var(--radius-md);
    width: 100%;
    height: 200px;
    object-fit: cover;
}

aside .ads-video .btn-wrap {
    width: 100%;
}

aside .ads-video .btn-wrap .item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: var(--fs-lg);
    box-shadow: var(--shadow-md);
}



aside .ads-video .btn-wrap .mute-btn {
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.55);
    width: 40px;
    height: 40px;
    color: var(--my-text-primary);
}

aside .ads-video .btn-wrap .mute-btn i {
    animation: pulse 1s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

aside .ads-video .btn-wrap .mute-btn:hover i {
    animation: unset;
}

aside .ads-video .btn-wrap .full-screen-btn {
    top: 8px;
    right: 8px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.722);
    border-radius: 4px;
    position: absolute;
}

aside .ads-video .btn-wrap .bottom-btns {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 8px;
    background-color: rgb(47, 54, 61);
    z-index: 2;
}

aside .ads-video .btn-wrap .bottom-btns .play-btn {
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
}

aside .ads-video .btn-wrap .bottom-btns .next-btn,
aside .ads-video .btn-wrap .bottom-btns .prev-btn {
    position: absolute;
    right: 8px;
    font-size: var(--fs-lg);
    bottom: -4px;
}

aside .ads-video .btn-wrap .bottom-btns .prev-btn {
    right: unset;
    left: 8px;
}

aside .ads-video .btn-wrap .bottom-btns .item {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.722);
    width: 36px;
    height: 36px;
    color: var(--my-text-primary);
}

/* aside .ads-video .btn-wrap .bottom-btns .item.prev-btn {
    left: 0;
}

aside .ads-video .btn-wrap .bottom-btns .item.next-btn {
    right: 60px;
} */



/* ads-modal  */
.ads-modal .my-video {
    width: 500px;
    min-height: 400px;
}

.ads-modal .my-video video {
    width: 100%;
    min-width: 100%;
    height: 290px;
}

aside .ads-video .video-slider-wrap:hover .btn-wrap {
    display: block;
}





/*
============================================
=====||   Main Content Start Here    ||=====
============================================
*/
main {
    background-color: var(--my-white-off);
    margin-left: 307px;
    width: calc(100% - 307px);
    overflow-y: auto;
    margin-top: 125px;
    height: calc(100dvh - 125px);
    padding-bottom: 0px;
    border-left: 1px solid var(--my-white-off);
    transition: .3s linear;
    position: absolute;
    z-index: 2;
}

/* Active Class */
main.active {
    width: calc(100% - 98px);
    margin-left: 98px;
}

main.my-has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--my-gray);
}


/*
========================||    Total Point Seciton  Start Here   ||==========================
*/
.total-points {
    width: 160px;
}

.total-points {
    display: flex;
    justify-content: center;
    align-items: center;
}


.total-points {
    position: relative;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-ring {
    transform: rotate(-90deg);
}

.points .items .item {
    transition: .2s linear;
    position: relative;
    overflow: hidden;
}

/*  */
.points .items .item::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    width: 12px;
    height: 10px;
    z-index: 2;
    background-color: var(--my-primary-color);
    transition: .2s linear;
}

.points .items .item:hover::after {
    right: 0;
    transition: .2s linear;
}

.points .items .item:hover {
    border-radius: 12px;
}

circle {
    fill: none;
    stroke-width: 9;
}

.bg {
    stroke: var(--my-white-off);
}

.progress {
    stroke-linecap: round;
    stroke-dasharray: 490;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 1s ease;
}

/* Individual colors */
.red {
    stroke: var(--my-red);
}

.green {
    stroke: var(--my-primary-color);
}

.purple {
    stroke: var(--my-blue);
}

/* Total Point Text */
.points-text {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
}

.circle-chart {
    position: relative;
    width: 340px;
    /* same as canvas max-width */
    height: 340px;
    /* same as canvas max-height */
}

.total-trips-text {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle-chart .complete {
    position: absolute;
    bottom: 20px;
    left: 4px;
    font-size: var(--fs-xs);
}






/*
========================||    Total Point Seciton  Start Here   ||==========================
*/

.booking-upcoming {
    display: grid;
    grid-template-columns: 300px 1fr 370px;
    gap: 24px;
}

/*
============||    Booking Status   ||=============
*/
.booking-status .item {
    width: 304px;
    background-color: var(--my-white);
    margin-left: -30px;
    border-color: var(--my-border-secondary);
    transition: .3s linear;
}

.booking-status .item:hover {
    transform: translateY(-4px);
    border-color: var(--my-secondary-color);
}

.booking-status .paymant-status span {
    position: relative;
}

.booking-status .paymant-status .round {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--my-success);
}



/*
============||    Upcoming Trips   ||=============
*/

.upcoming-trips .items .item,
.save-list .items .item {
    transition: .3s linear;
}

.upcoming-trips .items .item:hover,
.save-list .items .item:hover {
    transform: translateY(6px);
    border-color: var(--my-secondary-color);
}



.invite-wishlist .copy-btn:hover svg path {
    stroke: var(--my-secondary-color);
}




@media (max-width:1400px) {
    aside.sidebar {
        width: 280px;
    }

    main {
        margin-left: 288px;
        width: calc(100% - 288px);
        margin-top: 126px;
        height: calc(100dvh - 126px);
    }

    .booking-upcoming {
        grid-template-columns: 260px 1fr 350px;
        gap: 20px;
    }

    .booking-status .item {
        width: 264px;
    }

    .points {
        justify-content: space-between;

    }

    .points .total-points {
        width: 360px;
    }

    .points .total-points .progress-ring {
        width: 220px;
        height: 220px;
    }

}