/*================  Filter Head  ================*/
.filter-header .left {
    flex: 1;
    flex-wrap: wrap;
}

.filter-header .right,
.filter-header .search-input {
    flex-basis: 24%;
}

.filter-header .click-dropdown {
    border: 1px solid var(--my-border-secondary);
    padding: 4px;
    border-radius: var(--radius-md);
    max-width: fit-content;
    width: fit-content;
    animation: slidseUp .1s ease-out;
}

.filter-header .click-dropdown .item {
    font-size: var(--fs-xs);
    padding: 6px 12px;
    border-radius: var(--radius-sm);
    margin-bottom: 2px;
    text-wrap: nowrap;
    color: var(--my-text-quaternary);
}

.filter-header .click-dropdown .item.active {
    color: var(--my-text-secondary);
}


.filter-header .click-dropdown-btn {
    user-select: none;
    text-wrap: nowrap;
}

.filter-header .click-dropdown.active {
    top: 42px;
    left: 0;
}

.filter-header .search-input {
    max-width: 320px;
}



/*===================  Booking Page  =================*/
.common.tab-contents {
    margin-top: 0px;
}


.booking .feedback-btn {
    color: var(--my-text-secondary);
    font-size: 13px;
}



/*===================  Financial Page  =================*/
.select-wrap {
    position: relative;
    display: inline-block;
}

.select-wrap .select {
    padding-left: 26px;
    color: var(--my-text-secondary);
    font-weight: var(--fw-600);
}

.select-wrap .select option {
    color: var(--my-text-secondary);
    background-color: var(--my-white-off);
    margin: 4px 0;
    padding: 0 12px;

}

.select-wrap::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--my-success);
    /* এখানে color change করতে পারবে */
    position: absolute;
    top: 50%;
    left: 12px;
    /* select-এর right side */
    transform: translateY(-50%);
    border-radius: 50%;
    pointer-events: none;
}


/*=======  Financial Page Filter Button =======*/
.financial .filters .filter-btn {
    border: 1px solid var(--my-border-secondary);
    padding: 8px 12px;
    border-radius: var(--radius-md);
    color: var(--my-text-quaternary);
}

.financial .filters .filter-btn.active,
.financial .filters .filter-btn:hover {
    color: var(--my-primary-color);
    border: 1px solid var(--my-primary-color);
}

.financial .expensesChart {
    width: 100%;
}

.financial #expensesChart {
    width: 100% !important;
    height: 300px !important;
}

.body .chart-container canvas {
    width: 100% !important;
    max-width: 100% !important;
    height: 110px !important;
}

.financial .top .item {
    overflow: hidden;
}

.search-input input {
    padding: 12.5px;
}


/*===================  Tour Plan Page =================*/
.new-tour-plan .plan-create-btn:hover {
    border: 1px solid var(--my-border-secondary);
    transition: .2s linear;
}


/*===================  Copon Page =================*/
.copon-offer .popular-copons .item {
    color: var(--my-white-off);
    border: 8px solid var(--my-white);
    box-shadow: var(---shadow-1);
    transition: border .4s linear;
}

.copon-offer .popular-copons .item .bottom {
    border-top: 2px solid var(--my-white-off2)
}

.copon-offer .popular-copons .item:nth-child(1) {
    background-color: #FC5A31;
}

.copon-offer .popular-copons .item:nth-child(2) {
    background-color: #E62E05;
}

.copon-offer .popular-copons .item:nth-child(3) {
    background-color: #079455;
}

.copon-offer .popular-copons .item:nth-child(4) {
    background-color: #079455;
}

.copon-offer .popular-copons .item:nth-child(5) {
    background-color: #FC5A31;
}

.copon-offer .popular-copons .item:nth-child(6) {
    background-color: #E62E05;
}

.copon-offer .popular-copons .item:hover {
    border-color: transparent;
}


/* offers-cart */
.offers-cart .item,
.copon-status .item {
    position: relative;
    overflow: hidden;
}

.offers-cart .item::after,
.copon-status .item::after {
    content: '';
    position: absolute;
    right: -8px;
    top: -4px;
    width: 30px;
    height: 15px;
    background-color: var(--my-primary-color);
    transform: rotate(38deg);
    transform: translateY(-20px);
    transition: .25s;
}

.offers-cart .item::before,
.copon-status .item::before {
    content: '';
    position: absolute;
    left: -8px;
    bottom: -4px;
    width: 30px;
    height: 15px;
    background-color: var(--my-primary-color);
    transform: rotate(38deg);
    transform: translateY(20px);
    transition: .25s;
}

.offers-cart .item:hover::before,
.copon-status .item:hover::before {
    background-color: var(--my-primary-color);
    transform: rotate(38deg);
}

.offers-cart .item:hover::after,
.copon-status .item:hover::after {
    background-color: var(--my-primary-color);
    transform: rotate(38deg);
}


/*===================  Invite Friend Page  =================*/
.tab-content .generat-link {
    border: 1px solid var(--my-border-secondary);
    padding: 4px 6px;
    border-radius: 6px;
    max-width: 520px;
    position: relative;
    background-color: var(--my-bg-secondary);
    margin-top: 4px;
}

.tab-content .generat-link input {
    border-radius: 0;
    background-color: var(--my-white);
    border-width: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tab-content .generat-link button {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}





/*===================  Setting Page  =================*/
.setting-item {
    border-top: 1px solid var(--my-border-secondary);
}

.setting-item .left {
    max-width: 340px;
    width: 100%;
}

.setting-item .right {
    max-width: 512px;
    width: 100%;
}

.setting-item input {
    min-width: 240px;
}

.my-tooltip .show-text.big {
    position: absolute;
    max-width: 180px;
    width: 120px;
    text-wrap: wrap;
    font-size: var(--fs-low);
    font-weight: 500;
    top: 18px;
    right: -4px;
}


/* login-info */
.login-info .active-now {
    background-color: var(--my-success-bg);
    padding: 4px 6px;
    border-radius: var(--radius-sm);
    font-weight: var(--fw-500);
    font-size: var(--fs-xs);
    border: 1px solid var(--my-border-secondary);
    box-shadow: 0px 1px 2px 0px #0A0D120D;
}

.login-info .active-now .active-icon {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--my-success);
}

/* Upload Box */
.v-item .upload-box {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--my-primary-color);
    color: var(--my-white);
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
}

/* Hide the default file input */
.v-item .upload-box input[type="file"] {
    display: none;
}

.v-item .upload-box:hover {
    background-color: var(--my-secondary-color);
}

.v-item .upload-box label {
    cursor: pointer;
}

.toggle-btns .toggle-checkbox {
    margin-top: -38px;
}

/* Identity */
.identity-wrapper .identity-block {
    display: none;
}

.identity-wrapper .identity-block.active {
    display: block;
}

.identity-wrapper input,
.identity-wrapper .my-input-control {
    max-width: 100%;
}


/*===================  Edit Profile Page  =================*/
.profile-info {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--my-bg-secondary);
    padding: 16px;
    border-radius: var(--radius-lg);
    border: 1px solid var(--my-white-off);
}


@media (max-width:768px) {

    /* Financial Page */
    .financial .top .item {
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }

    .body .chart-container canvas {
        width: 100% !important;
        max-width: 100% !important;
        height: 110px !important;
    }


    .financial .bottom .head {
        font-size: 18px;
    }

    .financial .filter-btn {
        font-size: var(--fs-xs);
        padding: 8px 12px;
    }

    .chart-container {
        overflow-x: auto;
    }

    .chart-container .wrap {
        overflow-x: auto;
    }


    /* Coupon and Offer Page */
    .copon-offer .popular-copons .item {
        color: var(--my-white-off);
        border: 0px solid var(--my-white);
        box-shadow: var(---shadow-1);
        transition: border .4s linear;
    }

    .copon-status .item {
        border: 1px solid var(--my-border-secondary);
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }

    .copon-status .item .top .my-border-secondary {
        box-shadow: 0px 1px 2px 0px #0A0D121A;

        box-shadow: 0px 3px 3px 0px #0A0D121A;

        box-shadow: 1px 8px 5px 0px #0A0D121A;

        box-shadow: 0px -2px 2px 0px #0A0D121A inset;

    }

    .copon-status .item .my-fs-title {
        font-size: 30px;
    }

    .copon-status .item .my-text-quaternary {
        color: var(--my-text-tertiary);
        font-weight: 500;
    }

    .offers-cart .item {
        border: 1px solid var(--my-border-secondary);
        box-shadow: 0px 1px 2px 0px #0A0D120D;
    }

    .offers-cart .item .bottom {
        border-top: 1px solid var(--my-border-secondary);
    }

    .nested-tab .hide-scroll-wrapper {
        width: 480px;
    }

    .nested-tab .tab1-btns {
        border: none;
    }

    .nested-tab .hide-scroll-area {
        width: 100%;
    }

    .dates-grid {
        gap: 14px;
    }

    .calendar .date {
        padding: 16px 4px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: var(--radius-sm);
        transition: 0.2s;
        font-size: var(--fs-sm);
    }

    .supports-carts .item {
        border: 1px solid var(--my-border-secondary);
        box-shadow: 0px 1px 2px 0px #0A0D120D;
        display: flex;
        flex-direction: column;
    }

    .supports-carts .item .top {
        flex: 1;
    }

    .s-head-wrap {
        margin-top: 0;
    }

    .s-tabs {
        margin-top: 0;
    }

    .s-head {
        font-weight: var(--fw-500);
        font-size: 20px;
    }

    .faq-items .faq-item {
        padding: 12px;
        border-radius: var(--radius-xl);
    }

    .g-head {
        font-weight: 500;
        color: var(--my-text-secondary);
    }

    .filter-header.invite-friend {
        gap: 16px;
    }

    .filter-header.invite-friend .search-input {
        display: flex;
        flex: 1;
        align-items: flex-end;
        margin-top: 22px;
    }

    .financial-dashboard .item .head {
        font-size: var(--fs-sm);
    }

    .overview .item .head {
        font-size: var(--fs-sm);
    }


    /* setting page */
    .setting-item .my-input-control input {
        min-width: unset;
        max-width: unset;
    }

    .upload-card {
        padding: 12px 4px;
        width: 100%;
        border-color: var(--my-primary-color);
    }

    .notification-setting .left {
        width: unset;
        flex: 1;
    }

    .notification-setting .toggle-btns {
        width: fit-content;
    }


    /*===================  Edit Profile Page  =================*/
    .profile-info {
        padding: 0px;
        background-color: var(--my-white);
        border: none;
    }

    .profile-info .my-input-control.new {
        padding: 12px;
        box-shadow: unset;
    }

    .filter-header .search-input.show-mobile {
        display: flex !important;
        flex: 1;
    }


    .travel-work.filter-header {
        padding-top: 0px;
    }

    .travel-work.filter-header .left-head {
        width: 100%;
        justify-content: space-between;
    }

    .filter-header .search-input {
        max-width: 100%;
    }

    .filter-header .search-input input {
        max-width: 100% !important;
    }

    .filter-header-p-none {
        padding-top: 0;
    }
}


@media (max-width:480px) {
    .nested-tab .hide-scroll-wrapper {
        width: 340px;
    }

    .calendar .date {
        padding: 12px 4px;
    }

    .dates-grid {
        gap: 0px !important;
    }

}