/*
======================================
=====||   Hero 1 Start Here    ||=====
======================================
*/
.tab-contents {
    margin-top: 32px;
}

.g-hero {
    margin-top: 32px;
}

.g-hero-area {
    width: 100%;
    height: 484px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.g-hero-banner-img img {
    border-radius: var(--radius-4xl);
    height: 100%;
    width: 100%;
    height: 400px;
}



/*
========||   Bottom Search   ||========
*/
.g-hero-area .bottom-search {
    background-color: var(--my-white);
    position: absolute;
    bottom: 0px;
    width: 88%;
    left: 6%;
    height: 144px;
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-md);
    border: 1px solid var(--my-white-off);
}


/*
======  Search Tabs   ======
*/
.g-hero-area .tab-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.g-hero-area .tab-wrapper {
    margin: 0 auto;
    background-color: var(--my-primary-color);
    border-radius: var(--radius-xxl);
    max-width: 953px;
    margin: 0 auto;
    margin-top: -22px;
    padding: 7px;
}

.g-hero-area .search-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-left: 4px;
    padding-right: 12px;
}

.g-hero-area .search-tabs::-webkit-scrollbar {
    display: none;
}


/*
===== Scroll Button  =====
*/
.g-hero-area .scroll-btn {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    background: var(--my-white-off);
    color: var(--my-primary-color);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 5;
}

.g-hero-area .scroll-btn:hover {
    background-color: var(--my-text-quaternary);
    color: var(--my-white);
}

.g-hero-area .scroll-btn i {
    font-size: var(--fs-md);
}

.g-hero-area .scroll-btn.left {
    left: 20px;
}

.g-hero-area .scroll-btn.right {
    right: 20px;
}

.g-hero-area .tab-wrapper::-webkit-scrollbar {
    display: none;
}


.g-hero-area .search-tabs .tab-btn {
    padding: 7px 16px;
    color: var(--my-white);
    font-size: 15px;
    font-weight: var(--fw-600);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.g-hero-area .search-tabs .tab-btn.active,
.g-hero-area .search-tabs .tab-btn:hover {
    background-color: var(--my-secondary-color);
}

/*
======  Search  Button  ======
*/
.g-hero-area .search-btn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.search-group {
    display: none;
}

.search-group.active {
    display: flex;
    align-items: stretch;

}

.search-group .my-input-control {
    max-width: 100%;
    width: 100%;
    position: relative;
    background-color: var(--my-white);
    border: 1px solid var(--my-border-gray);
    border-radius: var(--radius-lg);
    padding: 8px;
}

.search-group input:focus {
    outline: unset;
}

.search-group label {
    font-size: var(--fs-xs);
}

.search-group .my-input-control {
    max-width: 200px;
}

.search-group .big.my-input-control {
    max-width: 100%;
}

.search-group .my-input-control input {
    border: none;
    padding: 0px 0px;
    border-radius: 0;
    color: var(--input-text);
    font-weight: var(--fw-600);
    font-size: var(--fs-md) !important;
}

.search-group .my-input-control label {
    color: var(--my-text-placeholder);
    width: 100%;
    display: block;
    margin-bottom: 6px;
}





/*
======  Banner Video  ======
*/
.banner-video {
    position: relative;
    height: 400px;
    width: 100%;
}

.banner-video video {
    width: 100%;
    height: 400px;
    border-radius: var(--radius-3xl);
    object-fit: cover;
}




/*
==============================================
=====||   Banner Section Start Here    ||=====
==============================================
*/
.offer-sec {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 24px;
}

.offer-sec .tab-contents {
    margin-top: 0;
}

/*
======  Left Buttons  ======
*/
.offer-sec .left-btns {
    height: 100%;
    border: 1px solid var(--my-border-off);
    border-radius: var(--radius-3xl);
    box-shadow: var(--n-shadow-1);
    padding-top: 29px;
    overflow: hidden;
}

.offer-sec .bottom-btns {
    overflow-y: scroll;
}

.offer-sec .bottom-btns {
    max-height: 310px;
    overflow-y: auto;
}




.offer-sec .bottom-btns .item {
    border-bottom: 1px solid var(--my-border-off);
}

.offer-sec .left-btns .item {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: var(--fs-xl);
    font-weight: var(--fw-600);
    color: var(--text-quaternary);
    cursor: pointer;
    padding-left: 12px;
    height: 44px;
    min-height: 44px;
    width: 100%;
    font-size: var(--fs-md);
    display: flex;
    align-content: center;
    justify-content: space-between;
    transition: .2s linear;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 4px;
    user-select: none;
    /* width: 190px; */
}


/*
======  Left Button After  ======
*/
.offer-sec .left-btns .item::before,
.offer-sec .left-btns .item.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--my-secondary-color);
    transition: left 0.36s ease;
    z-index: 0;
}

.offer-sec .left-btns .item.active::before {
    background-color: var(--my-primary-color);
}

.offer-sec .left-btns .item:hover::before {
    left: 0;
}

.offer-sec .left-btns .item:hover {
    color: var(--my-white);
    border-radius: var(--radius-pill);
}

.offer-sec .left-btns .item>* {
    position: relative;
    z-index: 1;
}


.offer-sec .left-btns .item.active {
    background-color: var(--my-secondary-color);
    font-size: var(--fs-md);
    width: 100%;
    border-radius: var(--radius-pill);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    padding-left: 12px;
    color: var(--my-white);

}

.offer-sec .left-btns .item.active:hover::after {
    background-color: var(--my-primary-color);
}


/*
======  Left Button Icon  ======
*/
.offer-sec .left-btns .item .icon {
    background-color: var(--my-white);
    width: 48px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2px;
    box-shadow: var(--shadow-all-sm);
    border: 1px solid var(--my-bg-secondary);
    transition-delay: .3s linear;
}

.offer-sec .left-btns .item .icon:hover {
    border-color: var(--my-border-primary);
    box-shadow: var(--shadow-all-lg);
}

.offer-sec .left-btns .item .icon:hover svg {
    animation: moveRight 0.2s ease 0s 2;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0px);
    }
}


.offer-sec .left-btns .item.active .icon {
    box-shadow: var(--shadow-all-md);
}

.offer-sec .bottom-btns .item:last-child {
    border-bottom: none;
}







/*
===============  Offer Section Right  =================
*/
.offer-sec .right {
    height: 100%;
}

.offer-sec .offer-cart {
    position: relative;
    border-radius: var(--radius-3xl);
    box-shadow: var(--shadow-md);
    overflow: hidden;
    height: 215px;
}

.offer-sec .offer-cart.full {
    height: 365px;
}


/*
======  Cart Content  ======
*/
.offer-sec .offer-cart .content {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-sec .offer-cart .content .bottom-area {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-bottom: 20px;
    padding-right: 20px;
}

.offer-sec .offer-cart.sm .content .bottom-area {
    padding-bottom: 8px;
    padding-right: 8px;
}

.offer-sec .offer-cart.sm .bottom {
    padding: 8px 10px;
}


/*
======  Cart Bottom  ======
*/
.offer-sec .offer-cart .bottom {
    border-radius: var(--radius-pill);
    padding: 11px 24px;
    background-color: var(--white-20);
    width: fit-content;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
}

.offer-sec .offer-cart .rating .star {
    display: flex;
    color: var(--my-secondary-color);
    align-items: center;
    gap: 2px;
}

/* tag */
.offer-sec .offer-cart .tag {
    border-radius: var(--radius-pill);
    padding: 7px 9px;
    font-size: var(--fs-md);
    color: var(--my-white);
    background-color: var(--my-secondary-color);
    margin-left: 15px;
    margin-top: 19px;
    width: fit-content;
}

.offer-sec .offer-cart.sm {
    border-radius: var(--radius-xxl);
    height: 123px;
}


.offer-sec .offer-cart.sm .tag {
    font-size: var(--fs-low);
    margin-left: 10px;
    margin-top: 8px;
}

.offer-sec .offer-cart.sm .rating {
    font-size: 8px;
}




.offer-sec .offer-cart .bottom .title {
    font-size: var(--fs-lg);
    color: var(--fw-600);
    color: var(--my-white);
    text-align: center;
}

.offer-sec .offer-cart.sm .title {
    font-size: var(--fs-low);
}

.offer-sec .offer-cart.sm i {
    font-size: 10px;
}


.offer-sec .offer-cart button {
    font-size: var(--fs-xs);
    line-height: var(--line-height-sm);
}

.offer-sec .offer-cart.sm button {
    font-size: 8px;
    line-height: var(--line-height-sm);
    padding: 2px 6px;
}




/*
======================================
=====||   Hero 2 Start Here    ||=====
======================================
*/
.g-hero-2-area .slider-top {
    height: 400px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    background-color: var(--my-white-off);
}

.g-hero-2-area .slider-top .swiper {
    height: 100%;
}

.g-hero-2-area .slider-top img {
    height: 100%;
    width: 100%;
}

.g-hero-2-area .slider-top {
    position: relative;
}


/* Style both buttons */
.g-hero-2-area .slider-top .swiper-button-next,
.g-hero-2-area .slider-top .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--my-border-secondary);
    bottom: 100px;
    top: auto !important;
    bottom: 80px !important;
    width: 44px;
    height: 44px;
    color: var(--my-white);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
}

.g-hero-2-area .slider-top .swiper-button-next:hover,
.g-hero-2-area .slider-top .swiper-button-prev:hover {
    background-color: var(--my-white);
    color: var(--my-text-quaternary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Make arrow icons smaller and centered */
.g-hero-2-area .slider-top .swiper-button-next::after,
.g-hero-2-area .slider-top .swiper-button-prev::after {
    font-size: var(--fs-sm);
    font-weight: 600;
}

/* Position both buttons on the right side */
.g-hero-2-area .slider-top .swiper-button-next {
    right: 46px;
}

.g-hero-2-area .slider-top .swiper-button-prev {
    right: 110px;
    left: auto;
}


/*
================||   Slider Bottom  ||================
*/
.g-hero-2-area .slider-bottom {
    margin-top: -40px;
    height: 190px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    position: relative;
    margin-top: -40px;
}

.g-hero-2-area .slider-bottom .bottom {
    height: 100%;
}

.slider-bottom .item img:hover {
    border-color: var(--my-white);
}

.slider-bottom .item img {
    border-radius: var(--radius-lg);
    border: 2px solid var(--my-white-off);
}

.slider-bottom .swiper-pagination-bullet-active {
    padding: 4px 8px;
    background-color: var(--my-primary-color);
    border-radius: 8px;
}


/*
=====================================================
=====||   Recently View Section Start Here    ||=====
=====================================================
*/
.recently-view {
    margin-bottom: 55px;
}

.recently-view .tab-content .my-slider .slider-item {
    min-height: 170px;
    height: 100%;
}

.recently-view .slider-controls,
.trip-plan-area .slider-controls {
    /* position: unset; */
    right: 9%;
    top: -74px;
}

.recently-view-area .my-slider,
.recommendation-area .my-slider,
.best-deal-area .my-slider,
.map-view .my-slider {
    padding-bottom: 16px;
}

.recently-view-area .section-btn-wrapper,
.recommendation-area .section-btn-wrapper,
.best-deal-area .section-btn-wrapper,
.map-view .section-btn-wrapper {
    margin-top: 24px;
}




/*
=======================================================
=====||   Recommendation  Section Start Here    ||=====
=======================================================
*/
.recommendation-area .item:hover {
    background-color: var(--my-white-off);
}

.recommendation .tab-contents {
    margin-top: 20px;
    padding-bottom: 24px;
}







/*
==================================================
=====||   Best Deal  Section Start Here    ||=====
==================================================
*/




/*
====================================================
=====||   Tending Deal Section Start Here    ||=====
====================================================
*/







/*
=======================================================
=====||   Hot Destination Section Start Here    ||=====
=======================================================
*/
.hot-destination {
    padding: 60px 0;
}

.hot-destination .head .left {
    max-width: 490px;
    width: 100%;
}

.hot-destination .search {
    position: relative;
    width: min(100%, 400px);
}


.hot-destination .grid-item .item {
    padding: 12px;
}

.hot-destination .grid-item .item:hover,
.hot-destination .grid-item .item.active {
    background-color: var(--my-bg-secondary);
}







/*
================================================
=====||   Map View Section Start Here    ||=====
================================================
*/
.map-view .section-sub-title {
    max-width: 1085px;
}

.map-view .map-wrapper {
    border-radius: var(--radius-xl);
    position: relative;
    overflow: hidden;
}

.map-view .head .left {
    max-width: 770px;
}

.map-view .map-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16161618;
    transition: .3s;
}

.map-view .map-wrapper:hover::after {
    top: 100%;
    cursor: pointer;
}

.map-view iframe {
    height: 254px;
    width: 100%;
    border: none;
    border-radius: var(--radius-xl);
}

.map-view .shop-map {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--my-white);
    padding: 6px 12px;
    border: none;
    z-index: 2;
    font-size: var(--fs-sm);
    line-height: 20px;
    border-radius: var(--radius-md);
}

.map-view .shop-map svg {
    fill: var(--my-secondary-color);
    stroke: var(--my-secondary-color);
}

.map-tabs li.tab-btn {
    /* background-color: gainsboro; */
    border-radius: 50%;
    width: 126px;
    height: 126px;
    flex-direction: column;
    border: none;
    color: var(--my-text-color);
}


.map-tabs li img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}





/*
=================================================
=====||   Trip Plan Section Start Here    ||=====
=================================================
*/
.trip-plan-area .section-sub-title {
    max-width: 838px;
}

.trip-plan-area .head .left {
    max-width: 658px;
}

.trip-plan-area .right {
    position: relative;
}

.trip-plan-area .right .img-wrapper {
    margin-top: -40px;
    position: relative;
    width: 100%;
}

.trip-plan-area .right .img-wrapper img {
    width: 100%;
}


/* Create trip btn */
.trip-plan-area .right .create-trip-btn {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px 40px;
    border-radius: var(--radius-pill);
    background-color: var(--my-secondary-color);
    z-index: 2;
    text-wrap: nowrap;
    font-size: var(--fs-xl);
    color: var(--my-white);
    font-weight: var(--fw-600);
    transition: .3s linear;
}

.trip-plan-area .right .create-trip-btn:hover {
    background-color: var(--my-primary-color);
}

.trip-plan-area .right .create-trip-btn .first-icon {
    position: absolute;
    top: -48px;
    left: -40px;
}

.trip-plan-area .img-btn {
    position: relative;
    z-index: 1;
    height: 128px;
}

.trip-plan-area .btn-wrap {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.trip-plan-area .btn-wrap .my-btn {
    text-wrap: nowrap;
}


.plan-items-wrapper {
    display: grid;
    grid-template-columns: calc(30% - 12px) calc(70% - 12px);
    gap: 24px;
}



/*
=====  Trip plan single item =====
*/
.plan-items-wrapper .item {
    height: 304px;
    position: relative;
    border-radius: var(--radius-xxl);
    overflow: hidden;
}

.plan-items-wrapper .item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.15);
}

.plan-items-wrapper .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.plan-items-wrapper .item .content {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.plan-items-wrapper .item .content .best-seller {
    text-wrap: wrap;
    word-break: break-all;
    word-wrap: wrap;
    text-align: center;
    padding: 9px 10px;
    border-radius: var(--radius-md);
    background-color: var(--my-secondary-color);
    font-size: var(--fs-xs);
    color: var(--my-white);
    white-space: normal !important;
    display: inline-block;
    max-width: 55px;
}

.plan-items-wrapper .item .content .best-seller {
    text-align: center;
    padding: 9px 10px;
    border-radius: var(--radius-md);
    background-color: var(--my-secondary-color);
    font-size: var(--fs-xs);
    color: var(--my-white);

    /* fix wrapping */
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.plan-items-wrapper .item .content .tag {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 30px;
    width: 30px;
    border-radius: var(--radius-round);
    background-color: var(--my-white);
}

.plan-items-wrapper .item .content .text {
    line-height: var(--line-height-sm);
}

.plan-items-wrapper .item .title {
    line-height: var(--line-height-md);
}

.plan-items-wrapper .item .content .tag:hover {
    background-color: var(--my-border-primary);
}

.plan-items-wrapper .item .my-btn .content {
    padding: 0;
}

.plan-items-wrapper .item .content .my-btn {
    padding: 10px 16px;
    border-radius: var(--radius-md);
}

.plan-items-wrapper .item {
    transition: transform 0.3s ease;
}

.plan-items-wrapper .item:hover {
    animation: sway 0.4s ease-in-out;
}




/*
===================================================
=====||   Testimonial Section Start Here    ||=====
===================================================
*/
.testimonial {
    background-color: var(--my-bg-secondary);
}

.testimonial .my-slider {
    padding-bottom: 20px;
    padding-top: 12px;
}

.testimonial .tab-contents {
    margin-top: 20px;
}

.testimonial-area {
    padding: 60px 0;
}

.testimonial .my-slider-wrapper {
    position: relative;
}

.testimonial .for-3 .slider-item {
    min-width: calc(33% - 12px);
}


.testimonial .slider-controls {
    position: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.testimonial .item {
    padding: 32px;
    background-color: var(--my-bg-secondary);
    border-radius: var(--radius-xl);
    border: 1px solid var(--my-border-color);
    transition: .2s ease;
}

.testimonial .item:hover {
    box-shadow: 0px 4px 16px 0px #0000001F;
    border-color: transparent;
    background-color: var(--my-white);
}

.testimonial .star i {
    color: var(--my-warring);
}







/*
=================================================
=====||   Our Brand Section Start Here    ||=====
=================================================
*/
.our-brand-area .head {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--my-text-quaternary);
}


.our-brand-area {
    overflow: hidden;
    padding: 86px 0;
    background: #fff;
}


/*===== Left Before =====*/
.our-brand-area .brandSwiper {
    position: relative;
}

.our-brand-area .brandSwiper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(246, 255, 255, 255), rgba(155, 144, 144, 0));
    pointer-events: none;
    z-index: 10;
}

/*===== Right After =====*/
.our-brand-area .brandSwiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 10;
}








/*
=================================================
=====||   Our Blogs Section Start Here    ||=====
=================================================
*/

.our-blog-area .swiper-wrapper {
    padding: 12px 0;
}

.our-blog-area .section-btn-wrapper {
    margin-top: 28px;
}

.our-blog-area .head {
    position: relative;
}

.our-blog-area .head .slider-controls {
    bottom: 0;
    top: unset;
    right: 0;
}

.our-blog-area .head .left {
    max-width: 578px;
}

.our-blog-area .head .top-title {
    color: var(--my-secondary-color);
}

.our-blog .item .profile-img-lg {
    border: none;
    padding: 0px;
    width: 42px;
    height: 42px;
}

.our-blog .item {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--my-primary-color);
    padding: 12px;
    border-radius: var(--radius-xxl);
    transition: .2s ease;
}

.our-blog .item a {
    width: 100%;
}

.our-blog .item a img {
    /* height: 260px; */
    width: 100%;
    aspect-ratio: 16/11;
}

.our-blog .item .profile-img-lg {
    border: 1px solid var(--white-50);
}

.our-blog .item .cart-title {
    color: var(--my-white);
}

.our-blog .item .cart-title:hover {
    color: var(--my-secondary-color);
}

.our-blog .item .desc {
    color: var(--white-50)
}

.our-blog .item:hover {
    transform: translateY(-6px);
    border-radius: 28px;
    box-shadow: var(--n-shadow-1);
}




/*
=======================================================
=====||   Our Achivements Section Start Here    ||=====
=======================================================
*/
.our-achivements {
    /* background-color: var(--my-bg-secondary); */
    padding: 60px 0;
    position: relative;
}

.our-achivements .head {
    max-width: 768px;
    margin: auto;
}


.our-achivements .items {
    position: relative;
    z-index: 3;
}

.our-achivements .items .item {
    border: 0.79px solid var(--my-secondary-color);
    border-radius: var(--radius-xxl);
    padding: 40px 0;
    background-color: var(--my-white);
    justify-content: space-between;
    transition: .2s linear;
}



.our-achivements .item .title-sm {
    font-size: var(--fs-xl);
    line-height: var(--line-height-xl);
}

.our-achivements .item .section-title {
    font-weight: var(--fw-600);
    color: var(--my-primary-color);
}

.our-achivements .items .item img {
    width: fit-content !important
}


/*===== Bg Image =====*/
.our-achivements .bg-img {
    background-image: url('../../images/achivement-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 488px;
    width: 100%;
    margin-top: -110px;
    position: relative;
}

.our-achivements .bg-img .img {
    position: absolute;
    left: 0;
    z-index: 1;
    top: -80px;
    width: fit-content;
    width: 100%;
}

@keyframes swayScale {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.08);
    }

    30% {
        transform: scale(0.96);
    }

    45% {
        transform: scale(1.04);
    }

    60% {
        transform: scale(1.02);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.our-achivements .items .item .icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.our-achivements .items .item:hover .icon {
    animation: swayScale 0.6s cubic-bezier(0.45, 0, 0.55, 1) 1;
}

.our-achivements .items .item:hover {
    box-shadow: var(--n-shadow-2);
    border-color: transparent;
}

/*
================================================
=====||   Subcribe Section Start Here    ||=====
================================================
*/
.get-touch {
    margin-bottom: 96px;
}

.get-touch .get-touch-area {
    background-color: var(--my-bg-secondary);
    background: #FAFAFA;
    border-radius: var(--radius-xxl);
    padding: 60px 0;
    box-shadow: var(--n-shadow-2)
}

.get-touch .get-touch-area .my-btn {
    padding: 16px 42px;
    border-radius: var(--radius-xxl);
}

.get-touch .wrap {
    max-width: 560px;
}




/*
================================================
=====||   Subcribe Section Start Here    ||=====
================================================
*/
.subcribe-sec .subcribe-area {
    background-color: var(--my-primary-color);
    border-radius: var(--radius-3xl);
    overflow: hidden;
}


.subcribe-form .subcribe-btn {
    background-color: var(--my-bg-yellow);
    align-items: stretch;
    padding: 14px 18px;
    border-radius: var(--radius-sm);
    width: fit-content;
}

.subcribe-form .subcribe-btn:hover {
    background-color: var(--my-text-rating);
}

/*
================||   Subcribe Left Side  ||================
*/
.subcribe-sec .left-side {
    padding: 155px 60px;
}

.subcribe-sec .left-side form input {
    border: none;
    padding: 16px;
    border-radius: var(--radius-md);
    max-width: 345px;
}

.subcribe-sec .left-side form input:focus {
    box-shadow: none;
}


/*
================||   Subcribe Right Side  ||================
*/
.subcribe-sec .right-side {
    position: relative;
}

/*==========  Notificaion  ===========*/
.subcribe-sec .right-side .notificaion {
    max-width: 320px;
    width: 320px;
    position: relative;
    z-index: 3;
    margin-top: 116px;
    margin-bottom: 40px;
}

.notificaion li:nth-child(3),
.notificaion li:nth-child(4) {
    opacity: .7;
}

.subcribe-sec .right-side .img-wrapper {
    height: 510px;
    position: absolute;
    top: 30px;
    left: 110px;
    right: 0;
    z-index: 2;
}

.subcribe-sec .right-side .img-wrapper img {
    height: 615px;
    width: 100%;
    object-fit: cover;
}

.subcribe-sec .my-secondary-btn:hover {
    background-color: var(--my-warring);
}


/*
===============================================
=====||   Responsive 1439 Start Here    ||=====
===============================================
*/
@media (max-width:1439px) {


    .offer-sec .offer-cart .bottom .title {
        font-size: var(--fs-lg);
        color: var(--fw-600);
        color: var(--my-white);
        text-align: center;
    }

    .offer-sec .offer-cart.sm .title {
        font-size: var(--fs-low);
    }

    .offer-sec .offer-cart.sm i {
        font-size: 8px;
    }

    .offer-sec .offer-cart.sm .rating {
        font-size: 8px;
    }

    .offer-sec .offer-cart.sm button {
        font-size: var(--fs-xs);
        line-height: var(--line-height-low);
        padding: 0px 8px;
    }

    .offer-sec .offer-cart.sm button {
        font-size: 8px;
        line-height: var(--line-height-sm);
    }

    .offer-sec .offer-cart.sm .content .bottom-area {
        padding-bottom: 4px;
        padding-right: 4px;
    }

    .offer-sec .offer-cart.sm .bottom {
        padding: 6px 8px;
    }
}





/*
===============================================
=====||   Responsive 1024 Start Here    ||=====
===============================================
*/
@media (max-width: 1024px) {

    /*
    ================||   Achivements Section Start Here  ||================
    */
    .our-achivements .items {
        padding: 64px 0px;
    }

    /*
    ================||   Subcribe Section Start Here  ||================
    */
    .subcribe-sec .left-side {
        padding: 96px 16px 16px 0px;
        height: 500px;
    }

    .subcribe-sec .right-side {
        margin-top: -50px;
    }

    .subcribe-sec .right-side .img-wrapper {
        height: unset;
        top: -64px;
        left: 0;
    }

    .subcribe-sec .subcribe-area {
        height: 1000px;
    }

    .subcribe-sec .right-side .img-wrapper img {
        height: unset;
        width: 100%;
    }

    .subcribe-sec .right-side .notificaion {
        display: none;
    }


    /*===== Bg Image =====*/
    .our-achivements .bg-img {
        display: none;
    }

    .our-achivements .mobile-bg {
        margin-top: -100px;
    }


    /*
    ================||   Testimonial Section Start Here  ||================
    */
    .testimonial .for-3 .slider-item {
        min-width: unset;
    }

    .testimonial .for-md-1 .slider-item {
        min-width: calc(100% - 0px);
        width: 100%;
    }

    .testimonial .for-md-2 .slider-item {
        min-width: calc(50% - 12px);
        width: 100%;
    }
}





/*
================================================
=====||   Responsive 769px Start Here    ||=====
================================================
*/
@media (max-width: 769px) {

    /*
    ================||   Testimonial Section Start Here  ||================
    */
    .testimonial .for-sm-1 .slider-item {
        min-width: calc(100% - 0px);
        width: 100%;
    }

    .testimonial .for-sm-2 .slider-item {
        min-width: calc(50% - 0px);
        width: 100%;
    }

}